[2019-01-17 23:39] owen-m1 commented on #1022
1.8.1 should now work

[2019-01-17 23:39] #1022 closed

[2019-01-19 00:39] owen-m1 commented on #985
Try [master branch](/SortableJS/Sortable)

[2019-01-19 00:39] owen-m1 commented on #1431
Try [master branch](/SortableJS/Sortable)

[2019-01-19 00:39] #1431 closed

[2019-01-19 13:37] owen-m1 commented on #709
Try latest version

[2019-01-19 13:37] #709 closed

[2019-01-20 10:28] koljagava opened #1432 "Drag & drop to clustering elements"
Hi , i would to drag&drop table row and do a custom action when the dragged item is dropped to the over item. but i can not identify the over element.
is there a way to do it with SortableJs
Thank you

[2019-01-20 14:12] owen-m1 commented on #1432
Try:
[code]

[2019-01-21 06:37] frutality commented on #1388
When I added `forceFallback`, I discovered that when I'm dragging element over an iframe, UI becomes slow and glitchy. It becomes really hard to sort elements containing iframes. So I added a workaround: transparent absolutely positioned `div` with 100% width and height, that is "visible" only when user is dragging something.

Simplified markup:
[code]
I skipped code responsible for hiding/showing

[2019-01-21 11:32] owen-m1 commented on #1052
@tsyrya It works for me. Please reproduce in a JSBin.

[2019-01-21 12:04] ssheduardo commented on #1421
Good solutions @owen-m1,
How get more data, por example the data-id?

![image](https://user-images.githubusercontent.com/1160138/51473575-05fb8d00-1d7d-11e9-8c51-10dd237b5695.png)

[2019-01-21 12:19] dolbex commented on #1388
I like that fix @frutality - Not _too_ hacky and hey, gotta do whatcha gotta do when Chrome isn't behaving. :)

[2019-01-21 13:07] tsyrya commented on #1052
@owen-m1 I am sorry, seems like that was my fault (I didn't update the package correctly) and seems like it is working now.

[2019-01-21 21:32] BananaAcid opened #1433 "after dragging one item, live events are blocked"
#### Problem:
After having one item dragged, the click live events will not fire anymore.
Using `jQuery $(document).on('click', 'li > button', func...); `

[code]
Then I did the `Sortable.create('ul')` thing.

The button does fire as intended, but once an item is rearanged, it does not work anymore.

Direct events on the button do work, but since the items get inserted by the button, as the list i

[2019-01-21 21:46] #1052 closed

[2019-01-21 21:49] owen-m1 commented on #1433
@BananaAcid Interesting find. Please create a JSBin and I can debug this.

[2019-01-22 16:35] owen-m1 commented on #1433
@BananaAcid It seems to be working fine for me: https://jsbin.com/hipeyihiru/edit?html,js,console,output

Make sure you are on latest version.

[2019-01-23 14:53] #1432 closed

[2019-01-24 08:59] nilmerg opened #1434 "function as group.put not working with nested sortables"
#### Problem:

A function bound to `group.put` returns `false` but the drop is still rendered and accepted for nested sortables. For non-nested sortables this works fine.

#### JSBin/JSFiddle demonstrating the problem:

https://jsbin.com/mucilolido/edit?html,css,js,output

#### Environment

Broken Sortable.js Version: 1.8.0
Working Sortable.js Version: 1.8.0-rc1

[2019-01-24 14:49] nilmerg commented on #1434
Well, as far as I can tell it's indeed a problem with how `putSortable` is now handled. The only thing I'm really sure of is that with 1.8.0-rc1 `putSortable` was never set to the Sortable for which my function bound to `group.put` returned `false`.

Though, even by putting the [block](https://github.com/SortableJS/Sortable/blame/1.8.0/Sortable.js#L1115) which defines `putSortable` where it previo

[2019-01-24 14:58] owen-m1 commented on #1434
@nilmerg Indeed it works in 1.8.0-rc1, but only because bubbling is blocked, which is sub-optimal.

Problem was that target was being set to the `li` item in the nested sortable, but within the context of the `yep` sortable, so it thought it was OK to insert after the nested `li`.

Try [`master`](https://github.com/SortableJS/Sortable/blob/master/Sortable.js)

[2019-01-24 17:58] owen-m1 commented on #1012
Try master

[2019-01-25 06:38] nilmerg commented on #1434
Yes, works like a charm. Thanks a bunch!

[2019-01-25 12:56] #1434 closed

[2019-01-26 00:31] owen-m1 commented on #1065
Try latest

[2019-01-26 13:47] #1433 closed

[2019-01-26 16:36] owen-m1 commented on #1348
Solved in latest

[2019-01-26 16:36] #1348 closed

[2019-01-26 16:53] #1329 closed

[2019-01-26 22:05] #1228 closed

[2019-01-26 22:11] owen-m1 commented on #1280
If you are referring to the clone element, then by default the clone is not inserted into the DOM in the latest version (since 1.8.0)

[2019-01-27 13:38] FINDarkside opened #1435 "Animate all moving items, not just 2"
In the [demo page](http://sortablejs.github.io/Sortable/) you can easily see this. Let's say you drag item 0 to item 5. Only item 0 and item 5 are animated, while all other elements immediately move to their new positions. So when you drag item 0 to somewhere, item 1 will take the place of item 0, but it will not be animated.

[2019-01-27 13:42] owen-m1 commented on #1435
Yes, this is on the todo list

[2019-01-28 00:06] owen-m1 commented on #1222
It is simple, but you must have an outer container for the item that is not a sortable: https://jsbin.com/quriduboda/1/edit?output

Also, `invertSwap: true` if you ever want to be able to insert into the nested sortable

[2019-01-28 00:06] #1222 closed

[2019-01-28 11:19] sseulki-lee opened #1436 "Drag bug in Safari"
I have problem in safari when dragging elements
In `_onTouchMove`, it's returned at [Sortable.js#L962](https://github.com/SortableJS/Sortable/blob/1.8.1/Sortable.js#L962)

I guess it's because safari don't support `PointerEvent`
so just listen `MouseEvent` by [Sortable.js#L866](https://github.com/SortableJS/Sortable/blob/1.8.1/Sortable.js#L866)
(i guess.. MouseEvent's cancelable is set false by de

[2019-01-28 11:43] owen-m1 commented on #1436
I thought it would help prevent touchmove firing when the page is scrolling due to touch move, since the event isn't usually canceable when that happens... But if it causes problems I will remove it and you should in your install.

[2019-01-28 13:13] Povilas149 opened #1437 "Nested sortable list on EDGE"
Hello.

I am trying to create simple sortable lists which are within each other.

Perfectly working example here: https://codepen.io/anon/pen/GzqNGV.

Unfortunately it works only on chrome and firefox, does not work on Edge browser, it does not allow to select sub-items. It drags the whole group container.

I managed to get it working to some degree when switching draggable option to '.item'. But

[2019-01-28 17:36] owen-m1 commented on #1436
@sseulki-lee
Does the tap event get through on Safari at [Sortable.js#L619](https://github.com/SortableJS/Sortable/blob/1.8.1/Sortable.js#L619)

[2019-01-28 19:36] Povilas149 commented on #1437
@owen-m1 sorry, forgot to mention it. On 42.17134.1.0 it works as expected indeed.

Version where problem occurs:
Microsoft Edge 40.15063.674.0
Microsoft EdgeHTML 15.15063

[2019-01-28 23:31] trevorgehman opened #1438 "Create a release 1.7.1?"
#### Problem:

[View.Draggable](https://github.com/SortableJS/Vue.Draggable) has 1.7.0 as a dependency. Unfortunately, this version contains a pretty large bug regarding checkboxes: https://github.com/SortableJS/Sortable/issues/1052

Is there any way you could tag a release for 1.7.1 that incorporates the fix? I think this commit would be a good place: https://github.com/SortableJS/Sortable/commit

[2019-01-28 23:40] owen-m1 commented on #1438
@trevorgehman Best to open this as an issue in the affected repositories. I believe @David-Desmaisons said there will be a new version of Vue.Draggable soon with the dependency updated. Releasing 1.7.1 is not feasible anyways because then it would be the latest on NPM.

[2019-01-28 23:40] #1438 closed

[2019-01-29 02:41] sseulki-lee commented on #1436
@owen-m1
tap event is okay on safari.
it isn't returned at [Sortable.js#L619](https://github.com/SortableJS/Sortable/blob/1.8.1/Sortable.js#L619)

[2019-01-29 10:10] rndmerle opened #1439 "Can't drag on target area itself when not empty"
#### Problem:
When there is already an item on the target area, it's no longer possible to drop an item on the target area itself, but only on an other item.
On demo, please try to drag an item from the second list onto the gray area of the first list: it's not possible. Only dragging onto the item already in the first list is possible, and will trigger a swap.
http://take.ms/LFdiO

The fact that

[2019-01-29 11:30] FINDarkside opened #1440 "Drag ghost actual HTML Element"
Is there plans to support the dragged item being actual HTML element instead of the image your browser decides to make? At the moment, doing something like [this](https://react-beautiful-dnd.netlify.com/?selectedKind=Custom%20drop%20animation&selectedStory=funny%20drop%20animation&full=0&addons=1&stories=1&panelRight=0) doesn't seem to be possible.

[2019-01-29 12:13] owen-m1 commented on #1440
@FINDarkside Already possible. Set `forceFallback: true`.

[2019-01-29 15:15] owen-m1 commented on #1440
There are plans to allow a "fly back" animation when the dragged item is let go

[2019-01-29 20:33] FINDarkside commented on #1440
Awesome! Sorry, should have read options more carefully.

[2019-01-29 20:33] #1440 closed

[2019-01-30 01:43] chengmanxiang commented on #1377
Is it possible to drag multiple projects at a time? I also have this need.Thank you

[2019-01-30 02:12] chengmanxiang commented on #1283
+1
 I really need that feature too.
We need to make it possible to drag 2 or more items instead of 1.。

[2019-01-30 03:15] chengmanxiang commented on #1377
https://react-beautiful-dnd.netlify.com/?selectedKind=Multi%20drag&selectedStory=pattern&full=0&addons=1&stories=1&panelRight=0 Functions like this

[2019-02-06 00:51] owen-m1 commented on #1036
First problem is that the part you are filtering does not include the handle element, so Sortable is allowing the mousedown event through on the handle.

Second problem with the selection is that you need to set `preventOnFilter: false` to allow selecting of filtered elements.

[2019-02-06 02:06] owen-m1 commented on #1377
@chengmanxiang It is now available on [next-version branch](https://github.com/SortableJS/Sortable/blob/next-version/Sortable.js). Docs are there too.

[2019-02-06 15:23] BrendanEthika opened #1441 "Next-Version dragging multiple newIndex issue"
#### Problem:

Just applied `next-version` into my dev branch and it appears as I'm logging out `sortable` that `newIndex` is the same as `oldIndex` when dragging multiple items at once. When dragging 1 item it correctly shows the `newIndex`

#### JSBin/JSFiddle demonstrating the problem:

---
Bindings:
 - Vuejs

[2019-02-06 16:04] BrendanEthika commented on #1441
@owen-m1 found a way to get this work but I don't know the unintended problems this may cause so line `1542` I added this
[code]

[2019-02-06 16:21] BrendanEthika commented on #1441
https://github.com/SortableJS/Sortable/pull/1442

[2019-02-07 00:53] owen-m1 commented on #1441
Solved in 82e268659338b3b1e8f28dd535d8eeab30b03ff9

[2019-02-07 00:53] #1441 closed

[2019-02-07 15:13] fritzmg opened #1443 "scrollSensitivity not working?"
Due to a fixed header, I increased the default `scrollSensitivity` from `30` to `100` (fixed header is only (50px high). However, the settings does not seem to have any effect. I still have to reach the default 30 pixels to either edge, in order for the auto-scrolling to start. Are there any known problems with this setting?

It works fine with version `1.7.0`, but not in version `1.8.1`.

[2019-02-07 16:53] owen-m1 commented on #1443
There is no issue I am aware of. If you are using native drag and drop (no `forceFallback: true` is set and not on mobile) then the Sortable's autoscroll function is not invoked, because Chrome and Firefox already implement this feature. To get around it for now you can use `forceFallback: true`, however you will lose the ability to use the native DnD API.

As well, there is always the option of m

[2019-02-07 17:22] fritzmg commented on #1443
Oh I see, I am assuming the `scrollSensitivity` only applies, when the fallback is in use? Because otherwise the browser uses its own thresholds, presumably.

[2019-02-07 19:02] owen-m1 commented on #1443
@fritzmg Yes, when the fallback is in use but also in IE and Edge, since their autoscrolling with drag and drop is minimal or nonexistent

[2019-02-07 19:57] fritzmg commented on #1443
Ok, makes sense :)

[2019-02-07 19:57] #1443 closed

[2019-02-07 22:03] mrodrig commented on #1439
+1. Also seeing this behavior and it's not what users expect.

[2019-02-07 22:25] mrodrig commented on #707
Looked into this more and it appears that the 1.8.0 release caused this to stop working again. It was working in 1.7.0 though. Looks like #1439 is open for this, so hopefully it will be resolved quickly.

[2019-02-07 22:28] mrodrig commented on #1439
This appears to work fine in sortablejs 1.7.0, but is broken as of 1.8.0. This begs the question - why are "major" changes being released in a "minor" version update? Given that many modules are using "^<version_number>", it's not a good practice to introduce breaking functionality as a minor version update.

[2019-02-08 00:11] owen-m1 commented on #707
@mrodrig It does indeed work, but it seems to be a failure of `_detectDirection`. You can specify the direction option as either `vertical` or `horizontal` (depending on your list) to solve this. Setting `direction: 'horizontal'` in the JSBin given by OP allows it to work as intended.

https://jsbin.com/nomulom/1/edit?html,css,js,output

[2019-02-08 00:49] mrodrig commented on #707
@owen-m1 Ah, interesting. I've been running into this/testing via `vuedraggable` using a vertical direction for most drag-and-drop actions, so that's probably why. Setting `horizontal` definitely helps, but it's still not quite 100% since it requires the user to move the tag to an area that lines up horizontally with a current item, which might not always be the case.

![2019-02-07 19 47 48](https

[2019-02-08 00:55] owen-m1 commented on #1439
@mrodrig This was not a breaking change, but a bug in the automatic direction detection. The whole reason I made an automatic direction detection was specifically to prevent a breaking change.

@rndmerle

Anyways, the solution to this issue in specific is not an easy one. We cannot simply append an item that is dragged over the container element to the end of the list, because then it would be app

[2019-02-08 00:56] owen-m1 commented on #707
@mrodrig Yes, this is not optimal. I am working on a solution. Please read my [comment](https://github.com/SortableJS/Sortable/issues/1439#issuecomment-461652564) on the open issue.

[2019-02-08 01:07] mrodrig commented on #1439
@owen-m1 From 1.7.0 to 1.8.0, there is a breaking change or bug, whichever you would like to call it, with the `_detectDirection` function though as you mentioned in your comment on #707. It's not backwards compatible functionality, which is what minor version updates are meant for. Perhaps tests would be a good way to detect these issues before they're released?
https://semver.org/#summary

Also,

[2019-02-08 01:31] owen-m1 commented on #1439
@mrodrig I can see how this causes confusion, I changed the name of the release.
I do not understand what you mean by backwards compatible in this scenario. Backwards compatible does not mean there are no bugs... because any bug that arises is "breaking". So are you saying I should release a major version with each new update because there could be a bug that "breaks" a part of the plugin? The int

[2019-02-08 01:43] mrodrig commented on #1439
@owen-m1 Ah. I was under the impression that 1.8.0 was intended to be a major change based on the release title and that's why it was a bit frustrating as an end user to see. I can understand having a bug in a minor release and not realizing it's there - it happens.

I know the feeling. I've spent several hours testing every change for the modules that I maintain too. What I was suggesting was the

[2019-02-08 01:48] owen-m1 commented on #1439
@mrodrig Yes, I meant "major" as in "big"... I should have realized the confusion.
Your issue should be solved in commit 071f190410af462b148a1720b2869f7d5aa2dd60 if it is the problem I think it is.

[2019-02-10 03:53] mrodrig commented on #1439
Following up on your comment in https://github.com/SortableJS/Vue.Draggable/pull/540, I just tested it by pulling in the latest commits from master. It seems like that helped a bit. Based on one of your previous JS Bin links, it seems to behave about the same as setting {direction: 'horizontal'} on 1.8.1. It's still not quite work the way that 1.7.0 handles it with regards to picking up items that

[2019-02-10 05:19] inglesuniversal opened #1444 "Question: Can your script retain state or sort order after browser or app reboot?"
Congrats!!!

Can it also handle images or audios?

[2019-02-10 11:41] owen-m1 commented on #1439
@mrodrig Thank you for testing, that behaviour is expected. I was up last night working out a new way to do this checking. Again, it seems 1.7.0's solution had some issues. I will figure this out and once I commit a fix then I will release a minor version.

[2019-02-10 11:57] owen-m1 commented on #1444
@inglesuniversal Yes. you can save the order using the [`store`](https://github.com/SortableJS/Sortable#store) option. As for videos and audios, I'm sure it would work but you might need to set a handle for the video.

[2019-02-10 21:07] owen-m1 commented on #1439
@rndmerle @mrodrig Solved in 1.8.2.

Here is the difference in behavior between 1.7.0 and 1.8.2.

1.7.0:
![1-7-0-ghost-is-last](https://user-images.githubusercontent.com/30704531/52539589-de7d5c00-2d4d-11e9-9346-23ae0176c707.gif)

1.8.2:
![1-8-2-ghost-is-last](https://user-images.githubusercontent.com/30704531/52539590-e50bd380-2d4d-11e9-8191-df50814be227.gif)

[2019-02-10 21:07] #1439 closed

[2019-02-10 21:07] #1437 closed

[2019-02-10 21:08] owen-m1 commented on #1436
1.8.2 has the fix

[2019-02-10 21:08] #1436 closed

[2019-02-11 11:01] FaBeyyy opened #1446 "Dragging always shows "disabled" icon since 1.8.2"
#### Problem:
Dragging an item always shows the "disabled" icon since 1.8.2
The sorting and dragging works but it always shows the "disabled" icon.
It shows the right ion on all versions except 1.8.2.

Browser: Chrome, Firefox

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/voxameqigu/edit?html,js,output

[2019-02-11 17:00] owen-m1 commented on #1446
This is an unintended effect of me changing [Sortable.js#L1730](https://github.com/SortableJS/Sortable/blob/master/Sortable.js#L1730) from having the dropeffect as 'move' to 'none'. It was causing Firefox to open a new tab when set to 'move'. Please set it to 'move' in your download to get the cursor fixed, and I will try to work out a better solution for this.

[2019-02-11 21:31] rndmerle commented on #1439
I can confirm it's working wonderfully on our project and the initial issue is gone.
Thanks for your hard work!
And thanks for the stuff solved by 1.8.0 too.

[2019-02-11 22:52] owen-m1 commented on #1446
Ok, I fixed this in 1.8.3

[2019-02-11 22:52] #1446 closed

[2019-02-12 09:18] moeinrahimi opened #1447 "sorting not working correctly when direction is rtl"
#### Problem:

jsbin ul : https://jsbin.com/biyebicize/edit?html,output

---
when direction is rtl d&d not working correctly, i'm using latest sortable version using cdn

[2019-02-12 10:24] ThomasWeiser opened #1448 "Ghost image offset on iOS when page zoomed"
Testing version 1.8.3 on iOS 12.1.4:
Ghost is positioned wrong (both horizontally and vertically) when the page is zoomed-in and scroll-position is not in top-left corner. If the zoom factor is large enough the ghost image may be totally offscreen.

This occurs both in Safari and in Chrome.
This occurs both with and without forceFallback.

On Android/Chrome there is no issue with ghost position fo

[2019-02-13 03:03] XiaYuYing commented on #837
I have also encountered this problem in Vue, my situation is:
I have one stable list on the top, and one normal list after stable list, I needed to stop dropping when item from one list to another list. At first i plan to set two group width `Sortable.create` but since i use `element-ui` so i failed. And my finally solution is to change the dom element directily like:
[code]
And still looking for

[2019-02-13 04:07] Lazy868 commented on #1388
Wow, and here I've been trying to figure out why I couldn't sort when a few seemingly unrelated conditions were met. Spent an entire 3 days trying to figure this out and then I realized that this bug is actually relevant to me and the actual cause.

[2019-02-13 12:19] armujahid opened #1449 "[Feature Request] Option to show blank element in place of ghost"
There should be an option to show blank element is place of ghost that doesn't contain any child elements. I am not talking about hiding ghost.

**Use case of this feature:** Dragable item can contain onload handlers or iframe etc. That can trigger API calls on ghost dom node insertion. Hiding the ghost will not prevent API calls/event handlers execution.
**Demo:** https://codepen.io/armujahid/pen

[2019-02-13 14:19] owen-m1 commented on #1449
Try:
[code]

[code]

Demo:

![ghostclasshidden](https://user-images.githubusercontent.com/30704531/52718021-7eb2cb00-2f70-11e9-8977-2b157d7fac5e.gif)

[2019-02-13 16:32] armujahid commented on #1449
Issue still exists even after hiding ghost. You can check console logs and network calls. As I already mentioned hiding it will not stop dom events/API calls.
**Demo:** https://codepen.io/armujahid/pen/qgyMOV

[2019-02-13 16:52] owen-m1 commented on #1449
@armujahid Apologies, I did not read far enough into your issue.

I created a demo that will set the src of the iframe to an empty string while it is being dragged: https://codepen.io/owen-m/pen/aXjRvR

The "onload" event is still fired, but no network request is made, only until the element is dropped (this would have to happen anyways).

Let me know if this solution is adequate. An option for a

[2019-02-13 17:08] armujahid commented on #1449
I created that `iframe` and `onload` demo just for example. Actually we have full-fledged JavaScript dragable apps (called widgets) developed in multiple frameworks (angular, react, polymer etc).
So for now I will use [JQueryUI Sortable](https://jqueryui.com/sortable/#display-grid) that already provides this feature. I will try to raise PR after analyzing this code base.
May be we should add featu

[2019-02-13 18:10] owen-m1 commented on #1449
If there was a way you could delete the contents of the component, and then re-add them later, you could do that instead of removing and re-adding the src of the iframe.

[2019-02-13 18:25] cmoutafidis commented on #494
The same issue for me, 1.7.0v start indexing from 0, 1.8.3v starts indexing from 1.
I was using ^1.7.0 in my package.json so after build 1.8.3v was downloaded, this is how I noticed.

[2019-02-13 18:54] owen-m1 commented on #494
@cmoutafidis This is not true, but the indexing is more lenient to include non-draggable items. You will have to compensate for any elements in the element you passed into Sortable that are not draggable.

[2019-02-14 14:19] k-ivan opened #1450 "Incorrect sorting in the grid"
Hey. I use sorting for a grid. It seems like a bug, for example, I drag the cell to the right, but it changes with the one on the left.

[Link to youtube demo](https://youtu.be/T66jpZj53QM)

[2019-02-14 17:05] owen-m1 commented on #1450
@k-ivan I would appreciate more information.
Which version of Chrome are you using?
Does the issue happen on all lists or just the grid demo?
Does it happen when fallback is enabled?

[2019-02-14 17:58] k-ivan commented on #1450
Yeah
1) Windows 10,  Chrome v72.0.3626.109
2) It works on both the grid and the lists
3) forceFallback always false

[2019-02-14 22:59] owen-m1 commented on #1448
Please test out the [ios-ghost branch](https://github.com/SortableJS/Sortable/blob/ios-ghost/Sortable.js) to see if the issue is still present on there. I do not have an IOS device so I unfortunately cannot test this.

[2019-02-15 00:00] 719media opened #1451 "sorting display: grid using auto-fill"
sortable has problems when sorting a display: grid using auto-fill

For an example, see:

https://codepen.io/anon/pen/vbVGLP

make sure your viewport is small enough that the grid wraps to a 2nd row. As you drag the first item to the right, once you "pass" the right-most item on the bottom row of the grid, the dragged item shifts to the end. For example, if your rows look like

[code]

Once you dr

[2019-02-15 00:30] owen-m1 commented on #1451
@719media An issue with `_detectDirection` thinking that this is a horizontal list. Specify `direction: 'horizontal'` in the options for now.

[2019-02-15 04:08] xiaojieilli2016 opened #1452 "Irregular grid"
How to solve the irregular grid?
![1550203110 1](https://user-images.githubusercontent.com/47652444/52833972-65e61900-311a-11e9-81ad-421af4b17527.png)

[2019-02-15 07:08] k-ivan commented on #1450
Strange, but it seems the problem is local, I tried on the second computer there everything is ok. Sorry for the time taken.

[2019-02-15 07:08] #1450 closed

[2019-02-15 09:52] rixroll commented on #246
@soopdop "fix" solved the mystery for me.

[2019-02-15 10:20] owen-m1 commented on #1452
@xiaojieilli2016 It's a bootstrap issue

[2019-02-15 17:08] owen-m1 commented on #1452
@xiaojieilli2016 Actually it is an HTML issue with putting spaces between inline-block elements that are not margins. I tried to get rid of them by putting a comment between each grid item, but the comments to not swap with the item. What you can do it set `font-size: 0` on the parent element, but set the font-size to the normal size for each of the children (like `.parent > .item`).

[2019-02-15 17:08] #1452 closed

[2019-02-16 02:47] owen-m1 commented on #1451
Solved on `master`

[2019-02-16 02:47] #1451 closed

[2019-02-16 10:42] #1444 closed

[2019-02-16 10:44] #1336 closed

[2019-02-16 14:38] thelucid commented on #1062
I'm experiencing the same [roblem as @mitomm i.e. transparent background on dragged row.

[2019-02-19 01:02] eiranix opened #1453 "[Feature Request] Table Columns"
It would be great if there was a table column option, or perhaps some sort of sync option to sort multiple lists at the same time.

I made up a workaround, and maybe someone more savvy than me could find a way to incorporate similar functionality as an option?

My rough example here on [JSFiddle](https://jsfiddle.net/vfm9tg3q/)

I also have a question about onChange: shouldn't the evt.oldIndex be

[2019-02-20 12:56] armujahid commented on #1449
I end up using [Muuri draggable grid layouts](https://haltu.github.io/muuri/) that can rearrange items using CSS transforms without insertion/removal of dom nodes

[2019-02-21 10:39] AleBonatti opened #1454 "access Vue property inside onEnd method"
Hi,
I'm trying to implement your script in a Vue component.
Sorting works fine, but I'm facing some problems to get extra params inside onEnd event.
In particular, I need to pass the current page (list elements are paginated).
This is my script: the fetch method is a Vue method called when page is loaded and every time a page link is clicked.
The problem is: while current page number is updated co

[2019-02-21 11:43] owen-m1 commented on #1454
@AleBonatti So you are saying that the page variable will be updated outside of the code you posted, And it is scoped globally? In your example it is only scoped in that fetch function.

[2019-02-21 11:53] owen-m1 commented on #1058
@maxlego There is multi-dragging now on the [next-version](https://github.com/SortableJS/Sortable/tree/next-version) branch.

[2019-02-21 13:56] AleBonatti commented on #1454
the "page" variable is updated in the fetch function but "this.page_number" is updated outside.
Here is the (almost) complete component code. As you can see this.page_number is updated every time the paginate method is called (click on a page link).

[code]

[2019-02-21 13:58] David-Desmaisons commented on #1431
@owen-m1 Is the fix available in a published version of sortable? Thanks.

[2019-02-21 15:21] owen-m1 commented on #1454
@AleBonatti So the page is not refreshed when the pagination page is changed? Then you are calling `Sortable` several times within the same page?

[2019-02-21 15:26] Backoo commented on #400
Is there any news on this issue?

[2019-02-21 15:38] AleBonatti commented on #1454
Correct. I'm aware that maybe it's not the proper way to do it, but i'm still new to Vue world.

[2019-02-21 16:32] owen-m1 commented on #1454
@AleBonatti Well if you keep initializing Sortable on the same element it will create problems. I would initialize Sortable once in Vue's `mounted()` hook, and within Sortable's onEnd event call `_this.page_number ` to get the page number. It will always be the up to date number when it is called.

Something like this:
[code]
Let me know if this works

[2019-02-21 16:35] owen-m1 commented on #400
@Backoo See #1443 for a potential solution to this issue

[2019-02-21 17:12] AleBonatti commented on #1454
Yes it seems to work!
Now I have the problem that "el" is still null in the mounted hook (it gets populated via ajax via the fetch method); I solved calling Sortable.create inside a setTimeout to give it time to fill the table, but that's not a very elegant solution...
Anyway, the page issue is solved. Thank you.

[2019-02-21 17:22] owen-m1 commented on #1454
@AleBonatti Then I suppose it would be best to initialize it when the Ajax call is complete. But Sortable should still work if you initialize it on an empty element and then add the children later.

[2019-02-21 17:30] AleBonatti commented on #1454
No, the element isn't empty: it seems to be undefined or null when hidden though the v-if condition (I still don't completely get Vue's directives), and so it throws an error if you try to initiate Sortable in that position.
But I'm confident I'll solve this myself. Thank you again.

[2019-02-21 17:35] owen-m1 commented on #1454
@AleBonatti Happy to help

[2019-02-21 17:35] #1454 closed

[2019-02-21 21:10] Backoo commented on #1443
I'm using SortableJS with the [Sticky Navigation, Top Bar of Foundation 6.5.1](https://foundation.zurb.com/sites/docs/sticky.html#sticky-navigation) and tried the following settings:

[code]

The result is:
- It does scroll top on Firefox, Chrome and Safari desktop.
- It doesn't scroll top on Firefox, Chrome and Safari mobile.

P.S.: SortableJS has the [option](https://github.com/SortableJS/Sortab

[2019-02-21 21:11] Backoo commented on #400
@owen-m1 see [this](https://github.com/SortableJS/Sortable/issues/1443#issuecomment-466167766).

[2019-02-21 21:30] owen-m1 commented on #1443
@Backoo Could you make a jsbin showing this problem? The only problem I know with autoscrolling on mobile is that it does not work when the page is zoomed in.

Also, `fallbackClass` is the class set on the "ghost" that appears under the mouse when dragging begins if `forceFallback` is enabled. So not really applicable to this issue.

[2019-02-21 22:09] Backoo commented on #1443
@owen-m1 See [this jsbin](https://jsbin.com/turinunasa/1/edit?output).

[2019-02-21 22:23] Backoo commented on #1443
@owen-m1 See [this jsbin](https://jsbin.com/megaweg/edit?html,css,output).

[2019-02-21 23:21] owen-m1 commented on #1443
@Backoo The auto scroll works for me on Chrome Android. What device are you using?

[2019-02-21 23:36] Backoo commented on #1443
@owen-m1 I'm using iPhone.

[2019-02-22 21:27] geonanorch commented on #659
@owen-m1 I just did (using Firefox 61.0.2), no luck but I think that I have a lead.

Imho the `delay` parameter is very useful to:
- handle contenteditables (e.g. to allow selecting within a draggable contenteditable)-
- or even plain clicks (e.g. short touch to activate, long touch to initiate drag).

Something like:
[code]
will not work, but commenting out `delay` will make it work, More observa

[2019-02-23 20:15] SplotyCode opened #1455 "Don't cancel event if delay is not reached"
#### Problem:
Sortable.js cancels all click events so I cannot use I even if the delay is not reached.

For example, if create a sortable with http://bgrins.github.io/spectrum/ color chooser you can not use it anymore.

[2019-02-23 20:18] #1455 closed

[2019-02-23 20:35] geonanorch opened #1456 "v1.7.0 to v1.8.3: library size increased +70%"
I can see that a lot of effort went into v1.8. The size of `Sortable.js` however went from 37Kb for v1.7.0 to 63Kb for v1.8.3, a +70% increase.

Size does matter, at least for user experience and SEO. Google for instance is fairly stringent with websites taking long to load (e.g. due to downloading and parsing big Javascripts).

Maybe there are too many options and too much logic being added in th

[2019-02-23 21:27] owen-m1 commented on #1456
Yes a lot was added, but most of it was very necessary. However, a lot of the size increase may be due to added comments. Take a look at Sortable.min.js. The current version is 23.9kb and 1.7.0 was 15.4kb - a 55% increase only.

[2019-02-23 21:41] owen-m1 commented on #1455
@SplotyCode So is this an issue? Why did you close?

[2019-02-23 22:10] SplotyCode commented on #1455
It was my fault this is why I have closed the issue

[2019-02-23 23:00] geniegeist commented on #1153
I encountered the same kind of issue. Using `div` instead of `<ul>` and `li` fixed it.

[https://gfycat.com/BlindKindlyBushsqueaker](https://gfycat.com/BlindKindlyBushsqueaker)

I have a sortable container (yellow) that contains two sortable containers (black). Dragging a green item in the right direction, causes the item to misalign.

[2019-02-23 23:13] owen-m1 commented on #1153
@geniegeist What version of Sortable did this occur in? Could you put it in a JSBin for me to test?

[2019-02-24 02:44] AndyYuxi commented on #1261
I have the same question, have you resolved it?

[2019-02-24 02:51] owen-m1 commented on #1261
@cherislive @AndyYuxi Use the `dragClass` option to set this class. For full control over the styling, you will need to set `forceFallback: true` so that the browser does not apply it's native HTML drag and drop styling to the element.

[2019-02-24 02:51] #1261 closed

[2019-02-24 09:13] geonanorch commented on #1456
Thanks for considering this. If you are thinking about different builds, then I would suggest to go all the way to add-ons (core `Sortable.js` + additional `Sortable-addonX.js`):
- allows developers to cherry-pick what add-ons they want instead of being restricted to the combinations in available builds
- helps keep the code more maintainable: functionality in an add-on is clearly separated and on

[2019-02-24 09:39] geniegeist commented on #1153
After reproducing my code on [https://jsbin.com/homorocaro/edit?html,css,js,output](jsbin) I see that it is a problem of react-sortablejs. react-sortablejs needs sortablejs 1.6.1 as a dependency in the npm package manager; I installed sortable 1.8.3 instead, yet the problem still occurs in my react project. So it is problem related to the react version.

The code on jsbin which uses the latest ver

[2019-02-25 17:35] MaxCrasy opened #1457 "getBoundingClientRect"
I had a problem using the framework when all the elements were hidden,
So to fix the bug I've edited these function lines

function **_getRect**(el, container, adjustForTransform) {
`if (el === null) {
	        return;
	    }`
and
function **_ghostIsLast**(evt, axis, el) {
`targetS2 = elRect === undefined ? 0 : axis === 'vertical' ? elRect.bottom : elRect.right,`
`targetS1Opp = elRect === undefine

[2019-02-25 20:17] owen-m1 commented on #1457
@MaxCrasy Could you please post the original error message?

[2019-02-26 12:54] MaxCrasy commented on #1457
![capturar1](https://user-images.githubusercontent.com/36922333/53414013-76b14d00-39ac-11e9-853f-60554e4de47b.JPG)
![capturar2](https://user-images.githubusercontent.com/36922333/53414014-76b14d00-39ac-11e9-8224-ff85ddabab6d.JPG)

[2019-02-27 07:54] jankapunkt commented on #1112
Same issue with Firefox for Ubuntu 65.0 (64-bit) form the canonical repository. Works however fine with Chromium.

[2019-02-27 08:01] jankapunkt commented on #1112
Okay I found that when I [start firefox in safe mode](https://support.mozilla.org/en-US/kb/troubleshoot-firefox-issues-using-safe-mode) (all add ons disabled) then it works, so I think my ad blocker or bitcoin blocker is the issue here.

[2019-02-27 17:23] ligne13 commented on #1431
Thanks !!

Le jeu. 21 févr. 2019 à 17:33, owen-m1 <notifications@github.com> a écrit :

[2019-02-27 22:41] brendon opened #1458 "Scrolling is broken on macOS Safari"
#### Problem:

Page scrolling appears to be broken on macOS Safari. It used to work in 1.7.0 but from what I've read, the scrolling system was overhauled between then and 1.8

#### JSBin/JSFiddle demonstrating the problem:

http://sortablejs.github.io/Sortable/

Try to drag and drop an item with Safari and you'll notice it doesn't scroll the page. Using Firefox the page does scroll (it also works

[2019-02-27 23:04] brendon commented on #1458
Possibly related: `scrollSensitivity` doesn't seem to be taking effect anymore.

[2019-02-28 00:59] owen-m1 commented on #1458
@brendon If you could, please try the [next-version](https://github.com/SortableJS/Sortable/tree/next-version) branch and tell me if the issue occurs using that script.

[2019-02-28 04:36] brendon commented on #1458
Hi @owen-m1, unfortunately yes both problems still occur on that branch.

[2019-02-28 10:25] big-tutu opened #1459 "How can I remove out some item?"
#### Problem: There are tow groups A and B, I drag an element from group A to some place not group B, where can't accept this item. Because I want remove it instead back it's old position.

I used Vue-draggable.

[2019-02-28 12:23] elpollitodiablo commented on #1257
seconded

[2019-02-28 22:32] owen-m1 commented on #1458
@brendon Try [master](https://github.com/SortableJS/Sortable/blob/master/Sortable.js)

[2019-02-28 22:47] brendon commented on #1458
Thanks @owen-m1, that is now working and it respects the `scrollSensitivity` offset on the bottom edge of the window but not the top edge anymore. I have a fixed navigation bar at the top and have set the `scrollSensitivity` to be greater than the height of the navigation bar. In 1.7.x it worked but not anymore with the current version. I tried increasing the `scrollSensitivity` amount but that di

[2019-03-02 09:36] zhe1ka commented on #1149
+1

[2019-03-02 09:40] lyc88 opened #1461 "Will the support list be dragged and dragged, and multiple rows selected to be dragged to another list?"
#### Problem:

@markmarkoh @rudasn @Will the support list be dragged and dragged, and multiple rows selected to be dragged to another list?

[2019-03-02 11:36] owen-m1 commented on #1461
@lyc88 The dragging of multiple nodes at a time is currently supported on the [next-version](https://github.com/SortableJS/Sortable/tree/next-version) branch.

[2019-03-02 14:07] will commented on #1461
idk

On Sat, Mar 2, 2019 at 3:40 AM lyc88 <notifications@github.com> wrote:

[2019-03-02 19:43] owen-m1 commented on #1459
@big-tutu Something like this:
[code]

[2019-03-02 20:05] owen-m1 commented on #659
@geonanorch I used your fix in the above commit. Please try `master` branch.

[2019-03-03 01:50] owen-m1 commented on #1458
@brendon Please try `master` branch and let me know if it is working now.

[2019-03-03 10:46] geonanorch commented on #659
@owen-m1 just gave it a go, works for me, thanks.
Would be nice to have confirmation from other folks who contributed to the thread though, just to be sure...

I guess that some browsers initiate dragging on the `mousedown`/`touchstart` event (seems natural) and that `draggable` must be set by then at the latest. Not sure what [the spec](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_att

[2019-03-03 11:51] owen-m1 commented on #659
@geonanorch IE and Edge seemed to have that paticular restraint as well. However, IE and Edge will also not cancel a dragstart if the draggable property is removed after the mousedown, making a delay feature impossible on these browsers.

[2019-03-03 13:20] owen-m1 commented on #1257
@elpollitodiablo @cron13 @saikiransripada  It is possible currently using `onMove`;
[code]

[2019-03-03 20:11] xPaw opened #1462 "Dragging over nested sortable applies wrong ghostClass"
Demo: https://jsfiddle.net/x28qogjn/

Try dragging an upper item (like Item 1.1) and move the mouse over an inner sortable item, and notice how the background color changes because it applies the incorrect ghost class from the inner sortable even though you are still dragging another element.

[2019-03-03 20:27] brendon commented on #1458
Thanks @owen-m1, it all works as expected now :) Thank you so much for your help! :)

[2019-03-03 20:27] #1458 closed

[2019-03-03 21:31] owen-m1 commented on #1462
@xPaw Very good find. Give me a few days, and this fix will be committed and released on npm.

[2019-03-04 11:16] elpollitodiablo commented on #1257
@owen-m1 thank you, I saw that solution in  #942, but that won't work because it won't let you move items up or down past disabled/locked items.

[2019-03-04 11:40] owen-m1 commented on #1257
@elpollitodiablo Well if you are fine with being able to swap with the item, then why not use the `filter` option?

[2019-03-04 17:13] #1060 closed

[2019-03-04 17:16] owen-m1 commented on #1068
It is in `event.originalEvent.dataTransfer`

[2019-03-04 17:16] #1068 closed

[2019-03-04 17:22] #659 closed

[2019-03-04 17:43] emileber commented on #659
While I was still receiving notifications for this issue, it's been more than 2 years since I haven't touched this lib, which was in a Backbone project 2 job hops ago.

Though I'm glad that the development of Sortable was taken over by someone! Good job 🎉

[2019-03-04 19:36] elpollitodiablo commented on #1257
because the idea is to have an item locked in place and if you use the `filter` option it only prevents the item from actively be moved, but will be moved passively if another item is dragged in its place. `locked` should prevent even passive sorting. for example:
[code]
`item 3` can be moved to the place of `item 1`, but `item 2` will stay in place, so 1 and 3 only swap places without affecting 2

[2019-03-04 20:05] owen-m1 commented on #1257
@elpollitodiablo I see. I remember this is what I was envisioning when I added the "feature" label. As of now I do not believe it is possible, but this is on the to do list.

[2019-03-04 21:47] elpollitodiablo commented on #1257
Yes I imagine it's not unproblematic, but keep it in mind ;) thank you

[2019-03-05 01:04] owen-m1 commented on #1443
@Backoo Try `master`

[2019-03-05 03:01] Backoo commented on #1443
Good!
I confirm the issue is solved on Firefox, Chrome and Safari mobile for iPhone 5!
Thanks

[2019-03-05 10:58] owen-m1 commented on #1199
Pointercancel events have been removed in latest

[2019-03-05 10:58] #1199 closed

[2019-03-05 11:00] owen-m1 commented on #1198
You can now use `emptyInsertThreshold` (which is enabled by default).

[2019-03-05 13:14] ThomasWeiser commented on #1448
@owen-m1 Thanks for the work and sorry for the late reply!

I've tested your patch. It doesn't seem to fix the issue.

Using `_css(ghostEl, 'position', 'absolute')` actually changes the position of the ghost. But again it's positioned wrong, now even with a zoom factor of 100%.

BTW, your code for browser detection may not be as intended. I guess the strings with the browser names should start upp

[2019-03-05 13:38] owen-m1 commented on #1448
@ThomasWeiser Hi,
I am aware the patch does not work. I can now test on IOS thanks to BrowserStack. I am working on a solution currently that emulates `position: fixed` on IOS, which does not allow for fixed positioning. The solution should be complete within the week and I will have you test it then.
Thanks

[2019-03-06 01:41] owen-m1 commented on #1448
@ThomasWeiser I have updated the [ios-ghost](https://github.com/SortableJS/Sortable/blob/ios-ghost/Sortable.js) branch. Please test to see if it is working properly for you, and let me know what you find.

[2019-03-06 02:40] ernsheong commented on #1267
Mmm I don't see it as resolved with FF 65 and latest Sortable 1.8.3.

Any tips on workarounds? I found that even removing Sortable and trying to trigger drag-n-drop natively also only triggers intermittently.

[2019-03-06 14:16] ThomasWeiser commented on #1448
Thank you for the quick reply!
Currently being out of office. Will check when I'm back in some days.

[2019-03-07 17:18] owen-m1 commented on #1457
Solved in 7742067365624885dd9823d573bc666677e3962c

[2019-03-07 17:18] #1457 closed

[2019-03-07 20:38] CTGControls opened #1463 "Clone moves some of the time?"
#### Problem:
When using clone with a nested sort some of the time it doesn't clone, it just moves the item.

Step to reproduce
Drag a an array over then place a Boolean inside the Array object.

![image](https://user-images.githubusercontent.com/15036058/53987153-31002d00-40ee-11e9-9211-9046b339a3f6.png)

#### JSBin/JSFiddle demonstrating the problem:
https://jsfiddle.net/ctgcontrols/6su8vrbf/

[2019-03-08 02:25] owen-m1 commented on #1463
@CTGControls The issue seems to be that you are continually calling `new Sortable()` on the elements in `'#B'` in the `onEnd` event. When I remove this block of code the issue does not seem to occur.

[2019-03-08 13:59] MaxCrasy opened #1464 "CancelDrag [Feature]"
Maybe create a way animate to cancel last Evt.
My example is like this.

`function GenerateSortable (element, valor) {
            new Sortable(element, {
                group: 'shared',
                animation: 150,
                onAdd: function (evt) {
                    $("#myModal").modal();
                },
                onUpdate: function (evt) {
                    vue.UpdateChart

[2019-03-08 14:18] CTGControls commented on #1463
Thank you for your replay.
#### Problem:
As you can see from the JSFiddle with out this code only the first Object and Array clone are nestable. Could you point me to an example of a better way of doing this?

#### JSBin/JSFiddle demonstrating the problem:
https://jsfiddle.net/ctgcontrols/657wacm8/

[2019-03-08 14:55] owen-m1 commented on #1463
@CTGControls I am pretty certain that this issue is caused by Sortable being set multiple times on the same element, and although the issue may be a problem with Sortable, it is a bad idea set Sortable on the same element multiple times anyways.
I updated your JSFiddle to:
1. Not set the nested Sortables until they are placed in '#B' (I believe this is a desired effect)
2. Not set a nested Sortabl

[2019-03-08 15:13] CTGControls commented on #1463
I am still have the move with your jsFiddle. It is more random and I can can not reliably reproduce each time, but as you can see from the Image it is still happening.

![image](https://user-images.githubusercontent.com/15036058/54036780-7a9e5580-418a-11e9-8b09-c969e10a625d.png)

[2019-03-08 16:18] owen-m1 commented on #1463
@CTGControls Sorry, I forgot to push to `nestedSortables`
Try this one; https://jsfiddle.net/mLon4rk7/

[2019-03-08 17:03] CTGControls commented on #1463
@owen-m1 At first glance it is working :) Thank you!! I will put this code, in my testing environment and see if anybody else can break it. You should think about adding this scenario to the examples. I will re-post a JS Fiddle with some cleaner code when I have time this weekend.

[2019-03-09 00:19] owen-m1 commented on #1062
@thelucid It seems to be working for me in MacOS Mojave w/ Safari 12.
Are you using the latest version of Sortable (1.8.3)?

![1062](https://user-images.githubusercontent.com/30704531/54062888-eb6b5f00-41d6-11e9-89c8-045e8c86ec48.gif)

[2019-03-09 01:39] owen-m1 commented on #1462
Solved in 452436a183ec57dadc1f9fcc881dbeb3e547da94

[2019-03-09 01:39] #1462 closed

[2019-03-09 11:49] JivanRoquet opened #1465 "Remove on spill"
As I browsed through the history of issues, it seems that a lot of people are facing the same problem: there is no standard and built-in way to replicate Dragula's _extremely convenient_ feature of `removeOnSpill`.

The idea is that if you have one or more containers belonging to the same group, then if you drop any element out of these containers, then the element would be simply deleted from whe

[2019-03-09 13:14] owen-m1 commented on #1465
@JivanRoquet This option is entirely possible, and I too would like for it to be implemented. Unfortunately, there is a lot to do first that I have already started working on. This can be in the next minor version (see the [next-version](https://github.com/SortableJS/Sortable/tree/next-version) branch), but I am in the middle of completely revamping and improving the animation system, which is tak

[2019-03-09 13:17] owen-m1 commented on #1459
A feature to solve this could be #1465

[2019-03-09 15:06] #1127 closed

[2019-03-09 15:52] stormr1der opened #1467 "[solved] Not update items on new props receive"
The state of  `<ReactSortable/>` doesn't updates when new props receive.

#### Component, that representates sortable list of items:
[code]

### Main component:
[code]

I was trying to debug this with using `componentWillReceiveProps `, but it didn't help :( `props` are updating successfully,  `<ReactSortable/>`  - isn't.

Thanks.

[2019-03-09 15:53] stormr1der commented on #1467
I reported this issue here, because same error happens with using `<Sortable/>` insteadof `<ReactSortable/>`

[2019-03-09 16:26] stormr1der commented on #1467
I don't know how, but i fix this.
This is my solution:
[code]

[2019-03-09 16:27] stormr1der commented on #1467
But items sorting doesn't work well.

[2019-03-09 16:29] stormr1der commented on #1467
I solved this problem. I will write my solution here a bit later.

[2019-03-09 16:47] stormr1der commented on #1467
I have solved this problem. If you will have same problem make next steps to fix it:

1. Add `data-id` for each item in the sortable list, if you hadn't added it yet.

2. Make sortable list component controllable by adding `onChange` prop to `<ReactSortable/>`. This will auto update the component on new props receive, but you also need handly update the list of resorted items — first argument of `

[2019-03-09 16:47] #1467 closed

[2019-03-11 06:33] brendon commented on #1458
Hi @owen-m1, would it be possible to have a patch version released? :)

[2019-03-11 20:01] owen-m1 commented on #1458
@brendon 1.8.4 is now released :)

[2019-03-11 20:47] brendon commented on #1458
Thanks @owen-m1, much appreciated :D

[2019-03-11 21:39] owen-m1 commented on #1463
The bug that caused this to occur is solved in 1.8.4. However, it is stll a bad idea to set `Sortable` multiple times on the same element.

[2019-03-11 21:39] #1463 closed

[2019-03-12 00:10] CTGControls commented on #1463
Duly noted, and as I said stated before I appreciate your help. You have a nice library. The example code you provided as worked beautifully!

[2019-03-12 13:01] plindelauf opened #1468 "How to best highlight target container when dragging over it?"
#### Question:
Evaluating Sortable.js (more specifically: Vue.Draggable) for use in our project, I'm having a hard time to find what the best way is to simply highlight the target container when an item is dragged over it. I would have hoped there to be events that I could catch (dragenter/dragleave/dragover) so that I could manage the highlighting / unhighlighting by adding/removing classes (or w

[2019-03-12 14:08] owen-m1 commented on #1468
There are no events for this in Sortable, but you can use the same events that Sortable uses.
I answered a question similar to this on stackoverflow: https://stackoverflow.com/questions/54917268/ondragover-equivalent-in-vue-draggable-sortable-js/54960057#54960057

[2019-03-12 15:27] plindelauf commented on #1468
Ah yes! That looks cool. One more question, though: the sample code does not seem to work on touch devices (tried it on iOS). Is there any specific way to cover that scenario?

[2019-03-12 23:53] owen-m1 commented on #1468
@plindelauf There seems to be no "touchenter" event in JavaScript, so you will have to improvise. Here is something I found on the issue: https://stackoverflow.com/questions/23111671/touchenter-and-touchleave-events-support

[2019-03-13 08:22] plindelauf commented on #1468
Great, Owen! I got it to work that way. I took the liberty of expanding [your example on StackOverflow](https://stackoverflow.com/questions/54917268/ondragover-equivalent-in-vue-draggable-sortable-js/54960057#54960057) with this support for touch.

[2019-03-13 08:22] #1468 closed

[2019-03-13 09:18] KingRial opened #1469 "Android and delay option"
#### Problem:
I am testing the library with both iOS and Android.
On iOS seems perfect; however on Android, when using the library with the "delay" option, it's very difficult to use.

There are two specific situations:
- Try just to touch to start the sortable; with delay set I neraly always fail to start the sortable; without the delay options is perfect (could it be related to https://github.co

[2019-03-13 16:21] evifere commented on #1377
hi i try to use this feature with next-version branch with vuedraggable
i have an error in the destroy method of _sortable

i have made an example of the error here with on on sortable object standalone

when i click on a destroy button i try to destroy my sortable object .
as you can see you will have an error in _onDrop method

https://jsbin.com/nujadeq/edit?html,js,console,output

should I crea

[2019-03-14 13:05] MaxCrasy commented on #1464
little update
`function CancelSortable(evt) {
            if (evt.from.children[evt.oldIndex] == undefined) {
                evt.from.insertAdjacentHTML('beforeend', evt.item.outerHTML);
            } else {
                evt.from.children[evt.oldIndex].outerHTML = evt.item.outerHTML + evt.from.children[evt.oldIndex].outerHTML
            }
            evt.to.children[evt.newIndex].remove()

[2019-03-14 17:13] sumitg-3767 opened #1470 "Help! Put an item from list1 to list2 in last position"
Hey! Thanks for this awesome library.

I am looking for a way to always drop an item to last position.

i.e. Consider I have two list, whenever I drag an item from List 1 to List 2, I would wish the item to be always added at the end of List 2 and not in between or top.

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/vowobemiqu/1/edit?html,css,js,output

Thanks

[2019-03-14 17:42] JivanRoquet opened #1471 "DragEvent not passed to pull() if target is empty"
A series of sortable containers is created, each with the following constructor options:

[code]

In the `pull()` callback above, we `console.log(e)` to show the event that was passed to the callback.

When dragging an element from one container to a different container which already has at least one element in it, the object being logged is of the following form:

[code]

And when dragging an ele

[2019-03-14 22:35] owen-m1 commented on #1470
@sumitg-3767 I was able to implement this using `onMove`: https://jsbin.com/nejigax/1/edit?js,console,output

[2019-03-14 22:35] #1470 closed

[2019-03-15 09:32] ThomasWeiser commented on #1448
Working great now. I see the fix is already released. Thank you very much!

[2019-03-15 09:32] #1448 closed

[2019-03-15 11:06] netcitylife opened #1472 "onEnd event oldIndex/newIndex properties behavior changed in 1.7 -> 1.8"
#### Problem:
After updating from 1.7 to 1.8 behavior of `event.oldIndex`/`event.newIndex` changed when using `draggable` property to restrict sortable elements. In 1.7 index values were relative to sortable elements array only, but in 1.8 they are relative to all elements present in sortable parent, not only those ones which are actually sortable (limited with `draggable` property).

#### JSBin/J

[2019-03-15 13:06] owen-m1 commented on #1472
@netcitylife This was intended as many people had issues when using SortableJS with frameworks such as vuedraggable where the indexes were breaking the sorting because they did not include all elements

[2019-03-15 13:16] netcitylife commented on #1472
Ok, but then you should have released 1.8 as 2.0, because this is a backward incompatible change and our applications broke after updating...
Maybe you could add new properties like `draggableOldIndex`/`draggableNewIndex` with old behavior? As for me, their existance makes sence...

[2019-03-15 14:47] owen-m1 commented on #1472
I agree this change was ignorant on my part. I can add these properties.

[2019-03-15 14:49] netcitylife commented on #1472
That would be great! Thanks

[2019-03-16 02:11] owen-m1 commented on #1377
@evifere Yes, this is a SortableJS issue. It should be solved in commit 21f5ad4f04817b0a870a4fd756c7c9919dcdb08c.

[2019-03-17 15:52] owen-m1 commented on #1471
Solved in b483211c101f7a77839bd2477c9851922a6a805e.

[2019-03-17 15:52] #1471 closed

[2019-03-20 02:43] sumitg-3767 opened #1473 "Help wanted! onMove identify if dragged element is over related or not"
Thanks a ton for amazing library.

While user is dragging an item from one list to other, I would like to know if there is a way to identify the dragged element is over the related element or not. To be specific I want to identify a 'dragleave'; when user is no longer hovering over a list and hanging outside so that I can put the dragged element back to the original list(otherwise if I simply leav

[2019-03-20 10:29] owen-m1 commented on #1473
@sumitg-3767 See issue #1468

[2019-03-21 13:31] sumitg-3767 commented on #1473
Hi @owen-m1, Thanks a lot for the quick update. I did saw the issue #1468 earlier however that does not respect the pull/put configurations of sortable js. consider a scenario I have 3 list. List 1 only accepts (put:['list2']) items from list 2, though if I try to drag an item from list 3 to list 1 it would highlight list.

[2019-03-22 00:51] owen-m1 commented on #1473
@sumitg-3767 Try doing
[code]
where `put` is the Sortable you are hovering over. This will return a boolean and you can set the color if it is true.

[2019-03-22 08:03] andrews05 commented on #1218
Just to update this, the bug was fixed in Safari some time ago so the issue can be closed now.

[2019-03-22 10:52] #1218 closed

[2019-03-23 06:57] sumitg-3767 commented on #1473
@owen-m1
That does work indeed.

A minor syntax change needed as enclosed
Sortable.active.options.group.checkPull(put, Sortable.active) && put.options.group.checkPut(put, Sortable.active)

note:
put is an instance of type Sortable

[2019-03-23 06:57] #1473 closed

[2019-03-25 06:50] kinm commented on #1344
大兄弟，试试这个：handle: ".label-iocns",  // 使列表单元中符合选择器的元素成为拖动的手柄，只有按住拖动手柄才能使列表单元进行拖动；

[2019-03-26 04:05] Thomas-Lei opened #1474 "How to drag and drop between two different lists?"
#### Problem:
I have two different lists. I can drag and drop one list item to another list. But all data in the list item is dropped in another list. I only need some fields value of dragged list item are dropped. For example, one list has 3 fields: **id,name,date**. I only need **id** and **name** to be dropped.
How can I do it? Thank you.

#### JSBin/JSFiddle demonstrating the problem:

---
Bef

[2019-03-26 09:37] Thomas-Lei commented on #1474
I think below thread can resolve my question.
https://github.com/SortableJS/Sortable/issues/1402

[2019-03-26 09:37] #1474 closed

[2019-03-26 11:28] DenitsaGencheva opened #1475 "After migration from v1.7 to v1.8.4 moving items with display:none has strange behavior"
#### Problem:
We use sortable extensively in our project for moving card components into different sections.
In one of the sections, the behavior is more of a dragover and drop inside the hovered element. That is why the ghost class is styled with 'display:none'. Dragging on top of the different elements (projects)  was working without issue in v1.7. Now the card is added to the list, but sometime

[2019-03-26 23:26] owen-m1 commented on #1475
@DenitsaGencheva Should be solved in commit above.

[2019-03-26 23:26] #1475 closed

[2019-03-28 03:19] coloz commented on #1344
我在其他地方是这样用的，但我目前的需求是长按拖拽

[2019-03-28 03:46] SysuCai commented on #1276
This solution doesn't work on chrome 47

[2019-03-28 08:59] webandrew opened #1476 "IE10 Dragging doesn't work in 1.8.x"
#### Problem:

Dragging not working in IE10 on the 1.8.x . Works on IE9 and IE11.

Checked in browserstack using my project, then a the most basic implementation as well as the project website simple example.

Version 1.7 does seem to work throughout.

There are no errors in the console. None of the available events trigger. It's like Sortable is not there at all and it's just a normal list.

####

[2019-03-28 17:15] sumitg-3767 commented on #1465
@JivanRoquet Did you fixed this issue ? I tried to identify if the item is dropped out of list, however the onEnd doesn't seems to provide the information needed to identify the correct target. @owen-m1 Any hint?

[2019-03-28 20:34] owen-m1 commented on #1465
@sumitg-3767 I would set a `dragend`, `mouseup`, and `touchend` event on the element being dragged. You can set the events in onStart and remove them in onEnd. For the mouse and touch events, check if the target is not a Sortable element or is not contained in a Sortable element. For a dragend event, it is a bit more complicated, because it does not give you the actual target it is dropped on. You

[2019-03-28 22:33] owen-m1 commented on #1476
@webandrew Please try `master`

[2019-03-29 07:43] wernerbarnard commented on #935
+1 - any news?

This is seems like a pretty logical and mandatory feature ... I'm very happy with this library over jQuery UI - but this might be a deal breaker as we have big draggable/sortable components on a long page that we're using this for, so it's a bit counter-intuitive at the moment.

[2019-03-29 08:49] webandrew commented on #1476
@owen-m1 That works perfect now! Thank you for a quick response and for all the hard work in general.  Could not go without Sortable :)

[2019-03-29 08:49] #1476 closed

[2019-03-30 04:36] sumitg-3767 commented on #1465
It worked indeed ! Except that onEnd of Sortable executes first(which would not allow dragEnd to be executed) before dragEnd, so removing event listener should be part of dragEnd

var dropped = false, // is drop valid?
	item; // dragged item

var dragEnd = function(evt) {
	if (!dropped) {
                item.removeEventListener('dragend', dragEnd);
		item.parentNode.removeChild(item); // Remove d

[2019-03-30 11:47] owen-m1 commented on #1465
@sumitg-3767 Ok, then you can even remove the event listener in itself rather than in `onEnd`. You know that sorting will stop once `dragend` is fired so it shouldn't make a difference.

[2019-03-30 11:48] owen-m1 commented on #1465
[code]

[2019-03-31 06:24] william-pan opened #1478 "Click or drag SVG in IE11 throw error in _isTrueParentSortable"
#### Problem:

When press mouse left button to click or drag SVG, IE11 throw error:

![position](https://user-images.githubusercontent.com/20611735/55285528-78fa3300-53c0-11e9-8343-b0e365993b23.PNG)

#### JSBin/JSFiddle demonstrating the problem:
https://github.com/william-pan/Sortable/tree/gh-pages

Sorry, I don't know how to use JSBin/JSFiddle.

[2019-03-31 10:10] #1053 closed

[2019-03-31 14:36] owen-m1 commented on #1478
Error solved in 75a48822d6a92b2916c90349f51892577a49840c.
But you still won't be able to drag when you drag the SVG because it uses an xlink. So you must set this CSS:
[code]

[2019-03-31 14:36] #1478 closed

[2019-04-02 07:26] caitiandaren opened #1479 "Problems with Delay Options in App"
Hi，Friends
#### 场景(scene):
谷歌浏览器的手机模拟器
Google Browser Mobile Simulator
#### 描述(describe)：
先用鼠标滑动页面，然后拖拽就失效了,item上的draggable一直是false
Scroll the page with the mouse first, then drag it and it will fail.，Draggable on item has always been false
#### code:
[code]
Thank you for your reading.

[2019-04-02 17:59] hfalucas opened #1480 "ScrollFn not being called"
#### Problem:
I am using a custom scroll plugin([perfect-scrollbar](https://github.com/utatti/perfect-scrollbar)) and as I've read in the documentation in these cases you should use the `scrollFn`, but for some reason I am not being able to call it.

Check the fiddle below and see the `console.log(originalEvent)` is never logged.

What am I doing wrong? How is this function suppose to work? Any ex

[2019-04-02 21:50] owen-m1 commented on #1480
@hfalucas The autoscroll won't work with this plugin because the plugin does not change the `clientHeight` of the container. Sortable detects a scrollable element as an element with a `clientHeight` smaller than it's `scrollHeight`, and with an overflow of `auto` or `scroll`. Also, the function would not be called anyways in that demo because the native browser autoscroll would take affect, so you

[2019-04-02 23:06] owen-m1 commented on #1479
Duplicate of #1469

[2019-04-03 07:31] Amanda1995pig opened #1481 "Can Sortable support drag and drop anywhere?"
hello,
    In my angular6 project,By using sortableJS to drag the image to any location I want.But,I can't
find the method.
So I really want to know，Can Sortable support drag and drop anywhere?
And ,how can I achive it？

[2019-04-03 08:53] kimemin commented on #1469
Delay option in Android is not working **again**!!
I want to need help, too.

[2019-04-03 10:50] owen-m1 commented on #1481
@Amanda1995pig Please describe what you mean by "drag to any location"

[2019-04-03 10:51] owen-m1 commented on #1469
@kimemin Was there a version in which it did work?

[2019-04-03 12:13] LeszekKicior commented on #719
The link provided no longer works, and the solution isn't explained anywhere. Can anyone elaborate on how to create groups with a set maximum length?

[2019-04-03 14:37] mszacun commented on #1449
Is there possibility to remove ghost element completely? When moving between groups i don't want anything to show (not even empty space like when using `visibility: hidden` in new group before dropping items. I use highlighting with color to indicate that dropping is possible.

When i apply display: none to ghost element, dragged element is not positioned under cursor, because it takes initial pos

[2019-04-03 16:18] owen-m1 commented on #719
@LeszekKicior The demo in the README has this example: https://jsbin.com/nacoyah/edit?js,output

The last `qux` Sortable will stop allowing items once it reaches a max length of 4 items.

[2019-04-03 19:21] #1480 closed

[2019-04-03 21:51] owen-m1 commented on #1449
@mszacun Try setting the `display:none` in the `onStart` event, which will be fired *after* the dragged element is positioned, and then you can reset the `display` in `onEnd`.

[2019-04-03 22:00] owen-m1 commented on #935
@wernerbarnard @sergeevpasha @Ikaer @geoidesic It seems that the scroll wheel does work if `forceFallback: true` is specified in the options. If this option is set to false, as is by default, the browser's native drag and drop will be used, and this is what is preventing the scrollwheel from it's normal functionality.

[2019-04-04 01:17] Amanda1995pig commented on #1481
Hello owen-m1,
 Thank you for getting back to me.
I have a picture or some pictures on the page,And , I want to drag the picture on the whole page anywhere I want.By reading the demo of sortableJS,I find that,It looks like only support lists,But if I want to drag the picture to any blank place on the page,how can I achive it?
                                 look foward to your  reply!

[2019-04-04 07:43] kimemin commented on #1469
@owen-m1 I found well-working version, but old one.
use https://github.com/SortableJS/Sortable/tree/584f5e52d0ca13fc03b9a4325521352c304c4647.
this version works on both Android and iOS.

[2019-04-04 08:56] sergeevpasha commented on #935
thanks, that works now =)

[2019-04-04 21:56] owen-m1 commented on #1481
@Amanda1995pig It is not possible with Sortable alone.
I have made a JSFiddle with the functionality you described using Sortable's events: https://jsfiddle.net/owenm1/49qcjaxs/34/

[2019-04-04 21:56] #1481 closed

[2019-04-05 08:09] JurrijnP commented on #1457
I have this error in a different place and elements are not hidden.
![image](https://user-images.githubusercontent.com/13611056/55613322-b8db6480-578a-11e9-8d55-0b918e471971.png)

[2019-04-05 10:05] owen-m1 commented on #1457
@JurrijnP Please try reproducing using the latest Sortable.js file on `master` branch, and take a screenshot of the error. I cannot tell which lines those are as you are using the minified file.

[2019-04-05 14:45] nicoe commented on #1186
I did it in a rather complicated setup but I had to manage the whole state myself.

https://codereview.tryton.org/265181002/diff/275161002/sao/src/view/tree.js

The `drag_data_received` function is doing the hard work there.

[2019-04-05 16:49] nicoe opened #1484 "dragend event is received too fast in Chromium"
#### Problem:

I have set up a sortable table but for some reasons the last rows (with a fuzzy definition of last) are not drag'n'dropable because chromium seems to trigger the `dragend` event before I even move the mouse.

#### JSBin/JSFiddle demonstrating the problem:

The JSFiddle is not able to reproduce it yet but I'll try to keep it updated by slowly adding the layers of callbacks and event

[2019-04-06 13:23] sportity commented on #1278
` $(".dnd").sortable({
        group: "nestedDnd" //group needed to join sortables
    });`

This gives me `TypeError: $(...).sortable is not a function`.  Standard way to create Sortable works and jQuery seems to be ok.
[code]

Do you know what can be a problem?

[2019-04-06 13:24] divan commented on #1278
` $(".dnd").sortable({
        group: "nestedDnd" //group needed to join sortables
    });`

This gives me `TypeError: $(...).sortable is not a function`.  Standard way to create Sortable works and jQuery seems to be ok.
[code]

Do you know what can be a problem?

[2019-04-06 21:56] Backoo commented on #494
So, _Sortable will include non-draggable items_.
Should this be documented somewhere?

[2019-04-06 22:43] owen-m1 commented on #494
@Backoo It is never documented that it only includes draggable items

[2019-04-06 23:10] Backoo commented on #494
@owen-m1 Is the `draggable` option needed if all the direct children items will be draggable?

Note: In my previous post I asked for the documentation because the fact Sortable will include non-draggable items can lead to subtle confusion and unexpected results when using Sortable, as happened to me.

[2019-04-07 00:26] owen-m1 commented on #494
@Backoo No, if all the direct children are draggable then the option will include them by default, unless it is a `ul` or `ol` then it will only include direct `li` descendants.
In general, I would try to avoid having  non-draggable items in the Sortable element, as I have not tested it so there could be even more unexpected behavior.

[2019-04-07 11:33] josealonso commented on #1038
Many thanks, RubaXa !! That's exactly what I was looking for.

[2019-04-08 12:10] piernik opened #1486 "Button handle not working in Egde"
handle with button element is not working in Edge. handle with div is working.

Here is gif. Div and button have class sorting-handle. I'm using sortable with angular and posted it there originally (https://github.com/SortableJS/angular-sortablejs/issues/156), but it is Your issue.

![edge-sorting](https://user-images.githubusercontent.com/420691/55722897-d36e4180-5a07-11e9-88d4-9ff237f6e001.gif)

[2019-04-08 12:44] owen-m1 commented on #1486
@piernik SortableJS will ignore the drag if the mouse is clicking on a button. Why would you want the handle to be a button anyways? If it is only for the animation, you can just set the handle to a different element and add some CSS to the handle's `:active` state.

[2019-04-08 17:37] piernik commented on #1486
@owen-m1 that's wierd :) it's working on opera, chrome and firefox. Not on edge. And button is a clickable element, so users know it and use it.
But I'll try Your solution if I don't have other way.

[2019-04-08 19:40] owen-m1 commented on #1486
@piernik Looking at the code again, I was wrong, it should be working if the handle is a button. Could you provide a JSBin so I can test this please?

[2019-04-08 19:50] #280 closed

[2019-04-08 19:53] owen-m1 commented on #460
Here is solution: #1468

[2019-04-08 20:06] owen-m1 commented on #1472
Added in 4ca519e1fa4f7bfd6405dbbf1845ec16b7c88672.

[2019-04-08 20:06] #1472 closed

[2019-04-08 20:07] owen-m1 commented on #494
@cmoutafidis @Backoo You can now use `event.newDraggableIndex` to get the index of the element only counting draggable elements.

[2019-04-09 06:19] piernik commented on #1486
I think it's very easy to recreate. Have You some kind of boilerplate?

[2019-04-09 22:17] owen-m1 commented on #1486
@piernik Sortable is setting draggable to `true` on the parent element, so it must be an issue with edge.
To get around it: set `forceFallback: true` in the options.

[2019-04-10 09:40] ghaiat commented on #1418
Hello
We re facing the same issue. any updates? Cheers

[2019-04-10 10:39] piernik commented on #1486
@owen-m1 will You fix it in future release?

[2019-04-10 10:42] owen-m1 commented on #1486
@piernik If I figure out a workaround I will add it, but as I said, it is an issue with the Edge browser.

[2019-04-10 17:51] gesero commented on #1254
I have the same problem. Please, help.

[2019-04-10 17:55] owen-m1 commented on #1254
@gesero You should use `handle` in this scenerio: https://github.com/SortableJS/Sortable#handle-option

[2019-04-10 17:55] #1254 closed

[2019-04-11 03:15] sumitg-3767 commented on #1465
Thanks a lot @owen-m1 . Any schedule for [next-version](https://github.com/SortableJS/Sortable/tree/next-version) branch to be released? Would it have breaking changes?

[2019-04-11 06:46] ligne13 commented on #1447
Hi, any update on this one ? I have the same issue with flex-direction: row-reverse. See https://github.com/SortableJS/Vue.Draggable/issues/604

[2019-04-11 09:15] owen-m1 commented on #1465
@sumitg-3767 No schedule as of now, but I am almost done a commit that will allow all items to animate rather than just 2, so just a few more months. There are no breaking changes.

[2019-04-11 10:47] krubenrc opened #1487 "[QUESTION] drag element to inside other dont wrok"
Hello, when i trie drag an element and drop it inside other, like nested sortable, it dont work.

I attach a video, where you can see the problem, im newbie in this project, and i dont know all features and options, but i've searched in issues and i dont found nothing, i hope you can help me pls.

At the beginning, I take out the blocks and I can put them in, but when the main block does not have

[2019-04-11 11:09] owen-m1 commented on #1487
@krubenrc Some of those items have containers to hold items inside them, but the others do not, so you can only insert items inside items that used to have other items in them as these have the nested containers. Also, it seems that when you try to put an item back inside one of these nested containers when it's empty it's triggering a swap rather than insertion into the container. To get around t

[2019-04-11 12:17] krubenrc commented on #1487
I tried in local with emptyInsertThreshold in 1 and 1000 and nothing :(

https://codepen.io/krubenrc/pen/axWYqz
![ezgif-4-28ff9d67d211](https://user-images.githubusercontent.com/33639842/55956584-9488f780-5c64-11e9-8877-9454cc269129.gif)

[2019-04-11 13:06] owen-m1 commented on #1487
@krubenrc I set it to `10` and it works fine. Try only dragging in from the bottom. Also maybe reduce the `swapThreshold`, or even better set `invertSwap:true`.

[2019-04-11 15:05] Soneshdabhi opened #1488 "MultiDrag : Select all from button"
Multi drag is working fine when items are selected by clicking, but when trying to add class from code doesn't work.  Is there any work around ?

https://jsbin.com/divefovuja/1/edit?html,css,js,console,output

This will help a lot where I have 50 elements and I want to drop all of them in another list.

[2019-04-11 16:28] owen-m1 commented on #1418
@Kcko Did you end up figuring it out?

[2019-04-11 17:55] owen-m1 commented on #1488
@Soneshdabhi Unfortunately there is no workaround as of now. But I will certainly include a method for this in a later commit.

[2019-04-11 19:59] krubenrc commented on #1487
![image](https://user-images.githubusercontent.com/33639842/55988718-ea7d8f80-5ca4-11e9-9311-8bb835742a7c.png)
![image](https://user-images.githubusercontent.com/33639842/55988767-03864080-5ca5-11e9-8478-dc08b2440b9d.png)

:( dont work for me, i dont know why...

[2019-04-12 00:33] owen-m1 commented on #1487
@krubenrc Solved in commit 6f7fc27e5fc6a9c58623851101711f175275588e.

[2019-04-12 09:57] krubenrc commented on #1487
It works! Thank you very much!

Although from above works some strange , but from below it's great

[2019-04-12 09:57] #1487 closed

[2019-04-12 11:44] JurrijnP commented on #1457
@owen-m1
![image](https://user-images.githubusercontent.com/13611056/56034892-f4e16d00-5d28-11e9-878e-31849ed30311.png)
(Source I am using is: `<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.js"></script>` btw)

[2019-04-12 15:05] Soneshdabhi commented on #1488
It will be also great if there was a way/hack to de-select items once they are dropped in to target container.

[2019-04-13 13:59] owen-m1 commented on #1447
@ligne13 No but support may be added in a few months. I would just set the flex-direction to normal for now and reverse the elements in the DOM.

[2019-04-13 23:42] jacobsantos commented on #1377
I have been using the next-version branch and the multi-drag is pretty sweet. I have been using it with VueDraggable and it works well.

The only thing I have found is that you have to start dragging in order for the onChoose action to accept all of the items that are active. This appears true even if you query the selectors, the list that is returned is the same as the items in the onChoose event

[2019-04-13 23:51] owen-m1 commented on #1377
@jacobsantos I am going to add this event, but if you need it sooner please feel free to create a pull request.

[2019-04-14 00:12] jacobsantos commented on #1377
@owen-m1 Thanks!

I am not sure how long it will take or when you will add it. If it is a few days, then I won't bother. If it is a few weeks, then I will go ahead and submit a pull request.

I found a workaround and that is to start multidragging and then drop. This will trigger the onChoose event with all of the active items selected, either onDrop or onDrag. I think onDrag. I will just have a n

[2019-04-14 02:15] owen-m1 commented on #1377
@jacobsantos I will try to do it tomorrow.

[2019-04-14 08:52] masbaehr opened #1489 "Infinite Loop randomly triggered on Chrome"
I've noticed something weird on Chrome.

Sometimes i run into an infinite loop (Browser Freezes). I cant tell though when exactly it happens. Seems to be random.

Using "Pause" when this happens i was able to narrow it down to this spot:

Note: I'm using "fallback" to work on Mobile

![image](https://user-images.githubusercontent.com/38694044/56090517-5fb6b380-5ea3-11e9-8fbb-ab748da3fbe8.png)

Bet

[2019-04-14 19:06] colinbes opened #1490 "Revert on Spill"
I am looking to limit drag to just within the parent draggable. If item is clicked on and drag outside of parent container current behavior is to move item to last position registered in container. I would like the drag to be canceled if mouse is lifted outside of container.

[2019-04-14 20:28] owen-m1 commented on #1490
Please be more specific, I do not know what you mean when you say you want "drag to be canceled" and what you mean by "lifted outside of container".

[2019-04-14 22:07] colinbes commented on #1490
There’s a draggable container with list of draggable items. Clicking on a item selects it for drag. If you then drag item down past other list items and continue dragging past draggable parent’s boundary and lift mouse button the item is inserted as last item on list. Behavior required is to not move the item from selected position into last position - ie cancel the drag.

When back at desk I coul

[2019-04-14 22:41] owen-m1 commented on #1490
@colinbes Ok, now I understand. This would be similar to the `revertOnSpill` option in [Dragula](https://github.com/bevacqua/dragula#optionsrevertonspill). It is planned.

[2019-04-14 22:42] owen-m1 commented on #1490
@colinbes It is possible to do it yourself though using the events. If you need I can make a demo for this within a few days.

[2019-04-15 00:00] owen-m1 commented on #1377
@jacobsantos The events `onSelect` and `onDeselect` have been added in latest commit on `next-version` branch.

[2019-04-15 00:01] owen-m1 commented on #1488
@Soneshdabhi You can now use `Sortable.utils.select(element)` and `Sortable.utils.deselect(element)` since latest commit on `next-version` branch.

[2019-04-15 00:01] #1488 closed

[2019-04-15 09:25] jacobsantos commented on #1377
Thanks! That looks even better than I hoped. I will give it a try and
let you know.

On Sun, Apr 14, 2019, 7:01 PM Owen Mills <notifications@github.com> wrote:

[2019-04-15 12:11] jacobsantos commented on #1377
@owen-m1 Works exactly. I had to update Vue.Draggable to accept the new action.

[2019-04-15 18:41] owen-m1 commented on #1489
@masbaehr What is the structure of your HTML? Could you provide a minimal reproduction?

[2019-04-15 18:44] masbaehr commented on #1489
Unfortunatly it's not easy to create a minimal reproduction with only HTML. I'm using Vaadin Flow which is heavily using Shadow-DOMs. Maybe i could setup a test-server if it would help. I did a workaround by using a simple counter which exits the while after a few hundred iterations ;-). Maybe a simple rework of this without using while would help. It does not seem to have any side-effect

[2019-04-15 21:32] ffd8 opened #1491 "Store nested list?"
#### Problem:
Having fun working from the nested example to develop a folders/files interface for a project. Now hitting a wall regarding how to store the entire nested structure? When using the store as I had on a normal unnested group, I'm only seeing the changes within a single level of the nesting. So I have two questions:

– Is it possible to get an overall structure of a single group? Some s

[2019-04-17 01:07] owen-m1 commented on #1435
@FINDarkside It is not available on the [next-version branch](https://github.com/SortableJS/Sortable/tree/next-version)

[2019-04-17 09:45] thheller opened #1492 "Items not animating after code was minified by Closure Compiler"
I'm investigating an issue where SortableJS doesn't animate when sorting after the code was optimized by the Closure Compiler. This seems to be an issue in the Closure Compiler itself but maybe you have some insight into what might be happening.

The list remains fully sortable it just doesn't animate anymore.

I created a simple repro here:
https://github.com/thheller/sortablejs-closure-issue

Wo

[2019-04-17 13:24] marinalozovanu commented on #1377
When it will be available the release with new features added in next-version branch?
Thanks!

[2019-04-17 13:42] owen-m1 commented on #1377
@marinalozovanu Still a while. I am now looking into making multi dragging and swapping optional plugins rather than built into the main script. But you can use the file currently available on the github branch in the meantime.

[2019-04-17 15:46] jeffm24 commented on #1465
Correct me if I'm wrong here, but shouldn't the 'dragend' event listener be removed on dragend regardless of the dropped status? Seems like the current way it's written would cause a new listener to be registered whenever the item is rearranged within the container, and only the most recent one would be removed once it is dropped outside.

So something more like:
[code]

[2019-04-17 16:23] ffd8 commented on #1491
I managed to solve it by recursively traversing through the DOM elements and storing them as a JSON object. Still wondering if there's a function I missed that could export such a tree? I was hoping for something like the `toHierarchy` of [nestedSortable](https://github.com/ilikenwf/nestedSortable) + [demo](https://codepen.io/dev12345/pen/vZQwGW), however until now I haven't needed JQuery and this

[2019-04-17 16:31] owen-m1 commented on #1491
@ffd8 Sortable does not have such a function, though I'm sure you could manage it by just using Sortable's events. You could also use a JavaScript framework and a biding like [VueDraggable](https://github.com/SortableJS/Vue.Draggable) which will do it for you: https://sortablejs.github.io/Vue.Draggable/#/nested-example

[2019-04-17 16:37] Soneshdabhi commented on #1377
Is next version in broken state ? Getting following when dropping from one source to another.

Sortable.js:1576 Uncaught TypeError: Cannot read property '_animationCallbackId' of undefined
    at Sortable._animateAll (Sortable.js:1576)
    at Sortable._dragStarted (Sortable.js:906)

[2019-04-17 19:06] owen-m1 commented on #1377
@Soneshdabhi It is supposed to be stable but it may have bugs. I will investigate this bug.

[2019-04-17 21:22] owen-m1 commented on #1377
@Soneshdabhi Solved in 4feb9601ceaf3564d36ded9d70e8cef742b25d82

[2019-04-17 23:22] owen-m1 commented on #1492
@thheller Not sure. Seems like an issue with Closure. Maybe also try with this PR: https://github.com/SortableJS/Sortable/pull/1340

[2019-04-17 23:22] #1491 closed

[2019-04-18 02:06] Gearshxft opened #1493 "Firing click on drop"
Firstly, thanks for this library. It has been excellent for us 😄

I recently updated to v.1.8.0+ and it broke one of our use cases on mobile. Prior to v1.8.0, it seems like a click event would fire on drop, which was perfect for us. We have a list of photos, which users can drag around to re-order, and also tap to view. Even if tapping a photo started the drag event, it would still open the photo.

[2019-04-18 07:46] thheller commented on #1492
@owen-m1 Yes, that's exactly it.

I think Angular also uses the Closure Compiler. I can expand a bit on what is happening. If Closure sees an assignment that is never used anywhere it will decide to optimize it away. Unfortunately it doesn't identify that accessing `.offsetWidth` is actually a CSS trigger that shouldn't be removed.

In the Closure Library there is the concept of `goog.reflect.sink

[2019-04-18 10:25] lyc88 opened #1494 "How to select an element mouse when it moves to another list"
How to select an element mouse when it moves to another list

next-version

[2019-04-18 13:28] miguelyoobic95 commented on #844
We are experiencing the issue described above with Stencil.js (web components). Are there any updates on this ? Has anyone found why Sortable seems to be applying the same change once the component is re-rendered ?

I am happy to help look into this but would need some guidance around the repo from one of the maintainers :)

[2019-04-18 13:35] owen-m1 commented on #1493
@Gearshxft The problem was that the click event would be fired even if the drag was started.. as long as the item wasn't swapped with any other item the click event would fire. But perhaps the click event would not fire in this scenario on mobile?

[2019-04-18 15:46] miguelyoobic95 commented on #1345
We are having issues when sorting an item and then re-rendering a stencil component, this causes sortable to repeat the previous drag action - I am not sure why this is occurring. @Nightbr is this the issue you were trying to get around ?

[2019-04-18 16:25] owen-m1 commented on #1494
@lyc88 I am not sure what you mean, but you can select elements using `Sortable.utils.select(element)`

[2019-04-18 18:48] JivanRoquet commented on #1465
@jeffm24 at first sight, it looks like your initial example lacks providing the user with a feedback indicating that the item is going to be removed, until he actually drops it out of boundaries.

Your second example is a perfect illustration of why we would welcome the addition of such an option, allowing doing this with much less code and in a much less error-prone way.

[2019-04-18 19:11] jeffm24 commented on #1465
@JivanRoquet My point with the initial example was really only to provide an alternative to the temporary workaround implementation that was mentioned above, as it seemed to be doing extra work that was not needed. To be more safe, it wouldn't be very hard to toggle a confirmation dialogue of some sort inside of the "if (droppedOutside)" check rather than immediately removing the element, but that

[2019-04-18 23:33] owen-m1 commented on #1489
@masbaehr Please try the latest version on `master` branch and tell me if it fixes the problem for you.

[2019-04-19 01:09] owen-m1 commented on #1492
@thheller Try `master branch`

[2019-04-19 01:38] lyc88 commented on #1494
The mouse style changes when the element is drag-and-drop

[2019-04-19 01:40] lyc88 commented on #1494
The mouse style changes when the element is drag-and-drop

[2019-04-19 01:42] lyc88 commented on #1494
How can an element be dragged when the mouse style changes

[2019-04-19 01:42] lyc88 opened #1495 "@lyc88 I am not sure what you mean, but you can select elements using `Sortable.utils.select(element)`"
@lyc88 I am not sure what you mean, but you can select elements using `Sortable.utils.select(element)`

How can an element be dragged when the mouse style changes

[2019-04-19 01:56] owen-m1 commented on #1495
@lyc88 Still am not sure what you mean. Also let's talk about this in #1494.

[2019-04-19 01:56] #1495 closed

[2019-04-19 07:01] Nightbr commented on #1345
Hey @miguelyoobic95 it's another problem you describe. But we manage to include sortableJS with stenciljs component, we use our fork
-> "sortablejs": "https://github.com/saloonio/Sortable.git#dev-firefoxShadowRoot"

We use a stenciljs component container which instantiate sortablejs:

[code]

[2019-04-19 08:31] thheller commented on #1492
The issue is fixed in `master`.

[2019-04-19 08:31] #1492 closed

[2019-04-19 11:55] owen-m1 commented on #1170
@vimalchandhru Please give JSBin

[2019-04-19 11:59] owen-m1 commented on #1103
@N00nDay Try latest version

[2019-04-19 14:50] garygreen commented on #1456
I also echo support for this. According to https://bundlephobia.com/result?p=sortablejs@1.8.4 - the Library size substantially increased from 1.7.0 to 1.8.0 by approx 8.5KB (this is without any comments, minified).

Version 1.8.4 current size:

![image](https://user-images.githubusercontent.com/1702638/56429295-4b672200-62ba-11e9-9452-ed81d8ca81c2.png)

It's worth noting that the most important fa

[2019-04-19 16:21] clemishow commented on #1469
"Try just to touch to start the sortable; with delay set I neraly always fail to start the sortable; without the delay options is perfect (could it be related to #981 ?)" Exactly got the same problem in 1.8.4 with this options :

[code]

[2019-04-19 23:27] owen-m1 commented on #1469
@KingRial @kimemin @clemishow Please try `master branch`, and let me know if it solved the problem on your end.

[2019-04-23 06:05] wrsx commented on #1493
@owen-m1 I just reverted back to 1.5.1 to test this, and it looks like the drag event had more of a buffer before it fired. An items click would fire from a single tap, and the dragging felt like it started at an appropriate time as well.

I was wrong in my original post about this being an issue with the click event. Instead it's an issue with how sensitive the drag start has become. The dragging

[2019-04-23 06:07] Gearshxft commented on #1493
@owen-m1 I just reverted back to 1.5.1 to test this, and it looks like the drag event had more of a buffer before it fired. An items click would fire from a single tap, and the dragging felt like it started at an appropriate time as well.

I was wrong in my original post about this being an issue with the click event. Instead it's an issue with how sensitive the drag start has become. The dragging

[2019-04-23 08:13] L-doubleJ opened #1497 "插件有bug，求告知怎么解决"
直接看图吧
![3bed5bcd59225eff620ac401c2644c02](https://user-images.githubusercontent.com/49899455/56565362-c3975580-65e2-11e9-9b20-78893415d681.gif)

[2019-04-23 08:15] L-doubleJ commented on #1497
Is this a bug, author?

[2019-04-23 08:15] L-doubleJ commented on #1497
Chrome browser

[2019-04-23 08:15] #1497 closed

[2019-04-23 08:17] L-doubleJ commented on #1497
Chrome browser

[2019-04-23 08:17] L-doubleJ commented on #1497
Is this a bug, author?

[2019-04-23 10:50] owen-m1 commented on #1497
Same issue as #1450
Please try to reproduce in a JSBin

[2019-04-23 11:05] Alakeel commented on #952
@WilCodeBoer How did you solve it ? I ran to the same issue

[2019-04-23 14:27] clemishow commented on #1469
Working for me, thank you very much for your reactivity 👏

[2019-04-23 14:32] clemishow commented on #1469
Working for me, thank you very much for your reactivity 👏

[2019-04-23 15:44] #1469 closed

[2019-04-24 07:14] lyc88 opened #1499 "How to select elements without mouse click"
I want to implement the code to achieve the selected effect.

[2019-04-24 07:19] azinkey commented on #1298
is there any way to initialize Sortable instance on element which is not present in DOM yet but will add dynamically later

[2019-04-24 08:58] #1499 closed

[2019-04-24 13:26] summerpen opened #1500 "How can i fixed the first item"
I  want to fixed the first item in sortable,and it can't drag and it's order doesn't change,
  how can i get this.

[2019-04-24 15:09] #1500 closed

[2019-04-24 23:05] owen-m1 commented on #1298
@azinkey If it works on an element that is not in the DOM then yes, but if not there is no special way to make it work

[2019-04-25 03:21] ycshill opened #1501 "How to replace the element which from another area when move in to one area"
#### Problem:
I move one element from one area to another area, when it hanpends to move to another area，i use “onMove”  to listen, but ``evt.to.contains(evt.item)`` return ``false``. actually, i want to remove the element from another area or replace the element with another when it happends to move to another area. Do you have any solution? Thank you~

#### version
1.9.0

[2019-04-25 14:54] clemishow opened #1502 "Is it possible to make a fallbackOnBody but on another element of the DOM?"

[2019-04-25 15:52] mfvetter opened #1503 "Where's the swap functionality?"
I'm currently using SortableJS from the Swap branch: https://github.com/SortableJS/Sortable/tree/swap

Is there a plan or a roadmap to merge the "swap" and "swapClass" functionality of that branch into the master branch?

Thank you!

[2019-04-25 16:25] owen-m1 commented on #1503
It will be merged eventually, but that branch is the old version. The best place to get this feature is the next-version branch: https://github.com/SortableJS/Sortable/tree/next-version

[2019-04-25 16:26] owen-m1 commented on #1502
Not currently.

[2019-04-25 16:32] mfvetter commented on #1503
Wow! Thanks for the quick reply! SortableJS is awesome!

[2019-04-25 16:40] #1503 closed

[2019-04-25 16:41] mfvetter commented on #1501
Are you looking for a swap functionality? If yes, there's a branch called "swap" and this functionality is included to be released on the next-version according to @owen-m1.

If it's not a swap functionality you are referring, then I'm not sure.

[2019-04-26 13:39] c-mac88 commented on #1377
@owen-m1 Thank you for the updates, this is a fantastic project.

@jacobsantos Can you provide an example of multi-select, multi-drag and drop working with Vue Draggable? I have it almost working but receive this error:

`helper.js:32 Uncaught TypeError: Cannot read property 'nextSibling' of undefined
    at l (helper.js:32)
    at VueComponent.onDragRemove (vuedraggable.js:398)
    at Sortable.<a

[2019-04-26 13:48] jacobsantos commented on #1377
I forgot how I fixed this.

A working example is on the vuedraggable page. You just need to remember that multiDrag is converted to multi-drag, per Vue documentation.
`
<ul>
    <draggable multi-drag>
        <li>{{ item }}</li>
    </draggable>
</ul>
`

[2019-04-26 13:57] jacobsantos commented on #1377
@c-mac88 I would also recommend downloading the latest commit, since it is working for me. The multi-drag sortable js has to replace the release sortablejs. Vuedraggable does not require any updates and will accept any new event and attribute to pass to sortablejs.

I would need code in order to help. All I did was follow the documentation for vuedraggable, sortablejs and vue documentation. And a

[2019-04-26 18:14] c-mac88 commented on #1377
@jacobsantos Thank you for your response! I have been getting better results with some of your suggestions. Here is a JS fiddle I put together that is a stripped down version of our problem:

https://jsfiddle.net/oxhvr3ze/6/

If you try to select multiple elements from the column on the right and drag them to the column on the left, it appears that they move. However the array length only changes

[2019-04-26 20:15] buffet-time opened #1504 "Is it possible to detect when an element is about to be dropped from one list to another and"
#### Problem:
I'm using VueDraggable and i have two `<draggable>` elements and they both are holding the same data but are slightly different in their markup structure so they cant just be dragged and dropped simply. Is there functionality to handle this and get the data from that element in some sort of event and do something with it? They're both set to the same group and I just need to be able

[2019-04-26 21:11] owen-m1 commented on #1504
You can get the dropped HTML element in the `@end` handler using `event.item` in the `event` parameter. When this event is fired the element will be in the new list at it's new position, so you can modify it from there or replace it at that position.

[2019-04-26 22:22] jacobsantos commented on #1377
@c-mac88 That is weird. Certainly seems like a bug. https://jsfiddle.net/hsfmyb7j/1/

I am not using string groups with my usage. I am using the `:group="{...}"` object usage. The element bug occurs since the first selected item appears to be deselected when dropped. This makes sense actually. Part of the fix appears to be to deselect all items or figure out why the items weren't being deselected

[2019-04-28 08:43] lovelyelfpop opened #1506 "How to manage select/deselect item by myself when enable multiDrag?"
The component I am using already has a select/deselect function by ctrl/shift + click.
How to disable multiple select provided by Sortable?

[2019-04-28 10:07] ycshill commented on #1501
@mfvetter   thank you, but not what i want 😭

[2019-04-28 11:48] owen-m1 commented on #1506
Does the component select the items in Sortable? If it only colors the items then Sortable won't think the item is selected if Sortable's native selection is disabled, it needs to be added to an array inside Sortable.

[2019-04-28 11:52] owen-m1 commented on #1493
@Gearshxft Yes, you should be able to modify this sensitivity with `fallbackTolerance`. Please provide a JSBin emulating your scenerio and I can look into the problem.

[2019-04-29 00:06] lovelyelfpop commented on #1506
@owen-m1 Maybe I can add it to the array inside Sortable manually, using the `select` and `deselect` event provided by that component

[2019-04-29 00:07] lovelyelfpop commented on #1506
And I want to multi select items with ctrl+click, not just click

[2019-04-29 00:27] owen-m1 commented on #1506
@lovelyelfpop I would try changing whether multiDrag is enabled or not based on if the `CTRL` key is down:

[code]

Code not tested

[2019-04-29 14:03] buffet-time commented on #1504
@owen-m1 It's not being placed into the new list. Is there a limitation where if the 2 draggable elements are in different Vue Components they can't work together?

[2019-04-29 14:25] owen-m1 commented on #1504
@buffet-time Please provide a JSBin and I will take a look

[2019-04-30 12:21] Amir-Ravnjak opened #1508 "Multi drag not working"
#### Problem:

Hello there.
First, I want to thank you for this awesome plugin :D

I wanted to implement the multi drag today, but for some reason it isn't working.
I set option to multiDrag:true and put selectedClass:"sortable-selected".
I tried following:
Making my own sortable-selected class.
Putting a dot(.) at selectedClass:".sortable-selected"
Mixing those 2 around.
Still not working.

Thank

[2019-04-30 13:38] owen-m1 commented on #1508
@Amir-Ravnjak You must use the unminified Sortable.js file on the next-version branch

[2019-05-01 08:15] mdmasumbillah opened #1509 "How to change content after drop a item?"
![Screenshot 2019-05-01 at 14 06 57](https://user-images.githubusercontent.com/17563505/57009922-7c7d1600-6c1b-11e9-896f-ec624f14c427.png)

Mainly I want to another content after drop.

Help me from anyone.

[2019-05-01 10:51] owen-m1 commented on #1509
Use events:
[code]

[2019-05-01 10:51] #1509 closed

[2019-05-01 11:08] #1493 closed

[2019-05-01 11:15] mdmasumbillah commented on #1509
I get help from here

https://github.com/SortableJS/Sortable/issues/1015#issuecomment-280918204

[2019-05-01 16:45] #1072 closed

[2019-05-02 14:44] buffet-time commented on #1504
Hmm, the issue has seemed to have gone away. I don't know what was causing it but i can drag between them now. Just need to work on updating the styling and whatnot. Sorry about that

[2019-05-02 14:44] #1504 closed

[2019-05-03 14:49] #1508 closed

[2019-05-04 20:05] Soneshdabhi commented on #1300
This is exactly what I was looking for, but don't see any way.

[2019-05-04 20:29] holmberd commented on #1377
I was looking for this feature as well so will start testing it out.

[2019-05-05 08:02] ycshill commented on #1399
How to achieve it?

[2019-05-05 11:53] owen-m1 commented on #1399
[code]

[2019-05-05 12:04] ycshill opened #1510 "How the onChange event prevents events from bubbling"
How the onChange event prevents events from bubbling

[2019-05-05 12:06] owen-m1 commented on #1510
@ycshill Please provide a JSBin demonstrating the problem.

[2019-05-09 06:51] kinesias commented on #1377
I have been waiting for this feature and I love it!! Thanks so much!!!
One suggestion: it would be nicer if the user had to press the ALT key for selecting multiple items (like in a  file browser). Now, it feels strange that multiple elements are selected by default after a normal click ;)

[2019-05-09 09:58] Esger commented on #246
This is not a sortableJS bug. We wrote our own drag-sort class which has the same issue.

[2019-05-09 12:23] pascalporedda commented on #1418
I'am currently facing the same problem. If I enable the forceFallback option, it is working fine in chrome as well. Firefox is fine, even without the forceFallback option.

[2019-05-14 09:26] Amir-Ravnjak commented on #935
Multi-drag feature is a bit buggy if you set forceFallback:true, it randomly deselects item, sometimes you have to do double click, on page load your first try to select will fail 90%.
I have 2 large container and I need to transfer data from each other, so I need both multi-drag and mouse wheel scroll.

[2019-05-16 18:39] ChenKuo opened #1512 "Bug in next-version branch"
The next-version branch has a bug when clicking on empty area in Sortable element.
The error message is
[code]
example: https://jsbin.com/vadabidoco/1/edit?html,css,js,console,output

[2019-05-17 01:08] owen-m1 commented on #935
@Amir-Ravnjak Try increasing `fallbackTolerance` a bit.

[2019-05-17 01:17] owen-m1 commented on #1512
Solved in 5bd6beff1e73a4b7e21c059d9a7c28d61eddd6de

[2019-05-17 01:17] #1512 closed

[2019-05-17 03:55] kuanyen opened #1513 "Uncaught TypeError: Cannot read property 'removeEventListener' of null"
Uncaught TypeError: Cannot read property 'removeEventListener' of null

[code]

![Screenshot_20190517_113150](https://user-images.githubusercontent.com/20762725/57902145-839e5800-789a-11e9-8380-6522c4875f12.png)

![Screenshot_20190517_115138](https://user-images.githubusercontent.com/20762725/57902141-7f723a80-789a-11e9-8836-a44ea5b52ff4.png)

[2019-05-17 04:29] #1513 closed

[2019-05-17 08:57] tsurumure commented on #546
I use Vue. When i change the DOM, i alse change my [Vue-data] in `onEnd`. like this:
[code]
i think is a stupid way but useful.

[2019-05-17 12:25] olivierdalang opened #1515 "swap clone and item"
#### Problem:

Current, when using `pull: 'clone'`, at least in the onEnd callback, the element being dragged is `e.item` while the element that stayed behind `e.clone`.

This means you're actually dragging the original, while a clone was created and left in place.

To me, this is counter-intuitive, and makes some implementations complicated (e.g. if the original element has some logic that should

[2019-05-17 12:48] owen-m1 commented on #1515
Why does the API need to be changed? Why does the name of the property matter to the functionality of your app?

Also, I disagree, to me it seems more intuitive to be dragging the original and a clone is being created in it's place.

[2019-05-17 13:01] olivierdalang commented on #1515
It's not only the name of the property, it's also that the original keeps all events/react bindings/etc, while the other one does not.

In my case, I use SortableJs to create elements from a <thead> to a specific location in <tbody>. The element in <thead> has some logic, while the element that is dropped does not. I have to manually swap the elements after a drop, which is not very elegant.

Of c

[2019-05-17 13:27] owen-m1 commented on #1515
I see. I will do this in a later update.

[2019-05-17 17:02] #1489 closed

[2019-05-17 17:03] #1479 closed

[2019-05-17 21:40] owen-m1 commented on #1484
Any update on this?

[2019-05-19 19:39] jcsmorais opened #1516 "OOTB support for dropping items in a sortable manner according to a given data attribute or inner text?"
#### Problem:
Is there OOTB support for dropping items in a sortable manner according to either a specific data attribute or their inner text?

#### JSBin/JSFiddle demonstrating the problem:
Here's an example (with custom code) of what I'm looking for where I'm sorting the items by their inner text: https://codepen.io/jcsmorais/full/eaEYRm

This example almost nails it with the exception that by s

[2019-05-19 22:01] owen-m1 commented on #1516
No, you will have to use events

[2019-05-19 22:01] #1516 closed

[2019-05-20 10:22] coloz opened #1517 "on mobile phone, using options.delay,sortable is no work."
#### Problem:
on mobile phone,  after using options.delay, sortable is no work.
I have tested 1.9.0 and the latest git version.

[2019-05-20 12:43] owen-m1 commented on #1517
@coloz What device are you using to test?

[2019-05-20 14:26] clemishow commented on #1502
Hey @owen-m1,

I hope you're doing well. Did you plan this feature ? :)

[2019-05-20 14:49] owen-m1 commented on #1502
Yes, I am busy working on other features right now but this will be done eventually. I will let you know when it is done.

[2019-05-21 01:24] coloz commented on #1517
Samsung S9(android 9.0) and Huawei X7(android 8.0)

Tested results show that pointermove has an impact.
[code]
After I set options.supportPointer as flase, Sortable is all right.

but,the option is not shown in readme

[2019-05-21 08:11] sattes-faction opened #1518 "Moving the grids on the example page causes flickering in Chrome"
When I start dragging the last element in the grid example the grid just a few pixels it starts flickering a little bit by appearing on a different position. This seeems to happen only with the last element (using Chrome Version 74.0.3729.157). Hard to explain, see the video:

https://youtu.be/GCbqq8OAwp8

[2019-05-21 08:40] LEESEHEON commented on #1517
I had this same issue and I fixed it as follows in CSS:

.Your sortable-handler {
     pointer-events: none
}

[2019-05-21 13:37] owen-m1 commented on #1518
Seems to be the same issue as #1450.

Does it happen only on the grid demo? Or the other lists as well?
If you edit the code and set `forceFallback: true` in the options, does it still happen?

[2019-05-21 13:47] clemishow commented on #1517
I got a similar issue.
This problem (#1469) is not completely solved. It works better but I still have problems sometimes.
I using the 1.9.0 version on Android ("Mozilla/5.0 (Linux; Android 9; SM-G960F Build/PPR1.180610.011; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/74.0.3729.157 Mobile Safari/537.36")

My config :
[code]

[2019-05-22 06:25] Amir-Ravnjak commented on #935
Increasing fallbackTolerance makes text being selected when you start dragging.

[2019-05-22 11:09] jordidiaz commented on #1267
Hi,
I was experiencing the same issue. I found that on SO: https://stackoverflow.com/a/19055350/1411105. That solved the issue.

Code example:

[code]

[2019-05-22 12:41] sattes-faction commented on #1518
On the example page it seems to happen only on the grid demo. But in my implementation it's the same issue. I'm using the latest Bootstrap grid system and made the rows sortable there.

Maybe it's the display-Type that's causing this issue? The bootstrap grid uses flex.

However, when adding `forceFallback: true` the issue is gone in my case (didn't try it for the grid demo), so thanks for this wo

[2019-05-22 15:11] owen-m1 commented on #1518
@sattes-faction What browser are you using, and what version?

[2019-05-22 19:41] MalayaliRobz opened #1520 "Sorting non-responsive for huge lists"
#### Problem:
When the list to sort is very large, drag sorting becomes slow or non-responsive.
ie when applying sortable on a nested list with 200 or more items in total.

####  Proposed Solution
use some kind of virtualization where you don't render the whole list until you scroll, something similar to :
 https://github.com/clauderic/virtualized-list,
 https://github.com/frontend-collective/reac

[2019-05-22 21:49] LucianHij commented on #1515
Ya, the clone is wrongly implemented because it does not clone the logic of the element.

[2019-05-23 12:20] FaahdNoor opened #1522 "sortablejs does not support custom polymer element as a child to be draggable in firefox, works fine in chrome and IE."
#### Problem:
when an custom-polymer element is declared as a descendant of the repeater the elements are not draggable in the firefox.

#### JSBin/JSFiddle demonstrating the problem:
https://jsfiddle.net/rg2d0xkz/1/
---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-branch, perhaps the problem has been solved;
 2. [Use the search](http

[2019-05-23 13:41] owen-m1 commented on #1522
Have you taken a look at [polymer-sortablejs](https://github.com/SortableJS/polymer-sortablejs/issues)?

[2019-05-24 06:16] FaahdNoor commented on #1522
same issue with polymer-sortablejs.

[2019-05-24 12:02] owen-m1 commented on #1522
@FaahdNoor I don't know Polymer, but having a look at it it seems to be because the draggable elements are tagged as `my-inner-element` rather than valid HTML tags. When I change one to a `div`, it becomes draggable, but the styling goes away for some reason. Also it originally did not even work in Chrome for me.

[2019-05-24 18:08] sattes-faction commented on #1518
See my first post, it's Chrome Version 74.0.3729.157 on Windows 10. The issue does not appear in Firefox.

[2019-05-24 21:33] owen-m1 commented on #1465
@JivanRoquet @jeffm24 Just to let you know - you can use the Sortable.js file in the next-version branch to get this feature. It has the [OnSpill](https://github.com/SortableJS/Sortable/tree/next-version/plugins/OnSpill) plugin built in.

[2019-05-24 21:35] owen-m1 commented on #1490
@colinbes Check out the [OnSpill](https://github.com/SortableJS/Sortable/tree/next-version/plugins/OnSpill) plugin in the next-version branch for this feature.

[2019-05-25 16:54] Vector-SMG commented on #1469
very good!!!

[2019-05-27 01:03] owen-m1 commented on #1377
@kinesias There is now a [`multiDragKey` option](https://github.com/SortableJS/Sortable/tree/next-version/plugins/MultiDrag#multidragkey-option)

[2019-05-27 01:04] owen-m1 commented on #1506
@lovelyelfpop Since the above code does not work, there is now a [`multiDragKey` option](https://github.com/SortableJS/Sortable/tree/next-version/plugins/MultiDrag#multidragkey-option).
For the <kbd>CTRL</kbd> key, set `multiDragKey: 'CTRL'`.

[2019-05-27 01:04] #1506 closed

[2019-05-28 12:27] yulllll commented on #246
Dragula's grabbing cursors working with additional div element appended to body and listen mousemove - not html5 drag-n-drop

[2019-05-28 17:05] stuta commented on #1377
When doing straight drag without first selecting the item then the item is not cloned from original list, instead of cloning it is moved from the original list. If I first select the item then it is cloned.

Is this a bug?

My options:
[code]

[2019-05-29 22:59] runninghare opened #1525 "MultiDrag: onUpdate event not fired if adjacent items are selected and reordered"
Here's the [demo from jsBin](https://jsbin.com/gecimob/1/edit?js,console,output)
Steps to Replicate:

1. Select any single item from list1
2. Drag the selected item and reorder it to another position in list1
3. You see from console message "'--- list 1 updated ---'"
4. Now select 2 adjacent items in list1, e.g. item 2 and item 3
5. Drag item2/item3 and reorder them to another position in list1
6.

[2019-05-30 00:07] owen-m1 commented on #1377
@stuta Thanks, should be fixed in 7cb2fe40c9a318d1473fa3b225b885a7a8414d7b

[2019-05-30 00:40] #1525 closed

[2019-05-30 00:40] owen-m1 commented on #1525
Solved.

[2019-05-31 09:16] FaahdNoor commented on #1522
you are right, but if this `my-inner-element` is wrapped inside a div, div that serves as a draggable element.
it does not work. i just want that if the any element is wrapped inside a div, it should be draggable.

[2019-05-31 10:36] owen-m1 commented on #1522
The draggable elements needs to be the immediate children of the element `Sortable` was called on.

[2019-05-31 23:52] owen-m1 commented on #935
@Amir-Ravnjak I thought on most mobile devices that text is selected after a long touch hold, not by moving the touch. What device are you testing on?

[2019-06-01 16:08] owen-m1 commented on #1377
This feature has now been merged into the `master` branch, and therefore I will close this issue.

[2019-06-01 16:08] #1377 closed

[2019-06-01 16:09] owen-m1 commented on #1435
This feature has now been merged into the master branch, and therefore I will close this issue.

[2019-06-01 16:09] #1435 closed

[2019-06-01 16:09] owen-m1 commented on #1465
This feature has now been merged into the `master` branch, and therefore I will close this issue.

[2019-06-01 16:09] #1465 closed

[2019-06-01 16:09] owen-m1 commented on #1490
This feature has now been merged into the `master` branch, and therefore I will close this issue.

[2019-06-01 16:09] #1490 closed

[2019-06-01 18:40] #1461 closed

[2019-06-02 01:52] runninghare opened #1527 "MultiDrag: Suggest to add oldIndices and newIndices in eventOptions"
At the moment MultiDrag plugin only added 2 extra eventOptions, which are very useful:
- items: an array of items being dragged
- clones: clones of the items

However if we take a look at the original properties, we would find oldIndex and newIndex are very important as well, especially for those data binding frameworks like Angular and React. However there are no counterparts in the multiDrag ver

[2019-06-03 11:06] asmaLouahdi commented on #1131
Any solution for that please?

[2019-06-03 11:31] Amir-Ravnjak commented on #935
I am testing it on PC and laptop, trying to use it with mousewheel

[2019-06-03 13:06] philippkuehn commented on #1345
I'm also interested in this feature. Another great example for this is Notion:

![Jun-03-2019 13-43-46](https://user-images.githubusercontent.com/2500670/58803998-0d775080-8611-11e9-980b-91e9fe8b63a9.gif)

[2019-06-03 13:39] owen-m1 commented on #1345
This would be a great idea for a plugin. I could try to make it myself, but if anyone else wants to give it a try - the docs for creating a plugin are here: https://github.com/SortableJS/Sortable/blob/master/plugins/README.md

[2019-06-03 13:51] Nightbr commented on #1345
![Kapture 2019-06-03 at 15 49 41](https://user-images.githubusercontent.com/4228646/58806907-66e27e00-8617-11e9-9fd1-f799d3b0385a.gif)

using our code snippet https://github.com/SortableJS/Sortable/issues/1345#issuecomment-434630156 & https://github.com/SortableJS/Sortable/issues/1345#issuecomment-434655435

[2019-06-03 13:53] owen-m1 commented on #935
@Amir-Ravnjak All I can think of now is for you to set `user-select: none` on the items. This can maybe be solved in a future update.

[2019-06-03 13:56] owen-m1 commented on #1345
@Nightbr Would you be interested in making your implementation into a plugin?

[2019-06-03 15:32] Nightbr commented on #1345
I don't think it could be easy because I'm wrapping SortableJS into a Stenciljs webcomponent. But I could try if I have spare time ;)

[2019-06-03 21:55] owen-m1 commented on #1459
Now you can use the `removeOnSpill` plugin (included by default).

[code]

[2019-06-03 21:55] #1459 closed

[2019-06-03 21:56] #1397 closed

[2019-06-03 21:58] owen-m1 commented on #1278
Closing as nested Sortables are now supported out of the box.
You can see a demo here: https://sortablejs.github.io/Sortable/#nested

[2019-06-03 21:58] #1278 closed

[2019-06-03 23:06] owen-m1 commented on #1527
Done in commit 87c9a063f82eeadf7d2a1f3a4c1f1dc61d2645e1.
I am only going to rebuild the scripts at release, so you will have to clone the repo and build it yourself if you want these options now.

[2019-06-03 23:06] #1527 closed

[2019-06-03 23:23] runninghare commented on #1527
@owen-m1 Thanks for your quick updates.

[2019-06-04 09:40] JivanRoquet commented on #1465
Thanks the work on this one

[2019-06-04 11:20] tonykor opened #1529 "Disabling nested sortable lists"
Hello,

can someone help me to disable making nested sortables in this list

https://jsbin.com/juqosoyeni/1/edit?html,css,js,console,output

I'd like to move items from group 1 fo/from group 2 and to/from root list, but i don't want to make nested groups in Group 1, Group 2. Group 1, Group 2 can be moved only in root list.

Thanks

[2019-06-04 13:39] owen-m1 commented on #1529
You can use pull/put logic for this: https://github.com/SortableJS/Sortable/blob/master/README.md#group-option

[2019-06-04 16:54] tonykor commented on #1529
@owen-m1  Thanks. But when i'm using pull/put options, i can't put to the list any other items, but i need to put other items except other sortable lists.

BTW. Do you know is it possible to disable some items from dragging ?

[2019-06-05 00:53] owen-m1 commented on #1529
@tonykor You would do something like this: https://jsbin.com/xemahijinu/2/edit?js,output

For disabling items from dragging, use the `filter` option: https://sortablejs.github.io/Sortable/#filter

[2019-06-05 00:53] #1529 closed

[2019-06-05 08:14] codingnuclei opened #1530 "master release"
Hey,

Noticed that next-version has been merged to master.

Just a quick question when do you think this will be published?

Thanks for the great job on this library and the new features coming!

[2019-06-05 10:49] owen-m1 commented on #1530
If all goes well, within maybe 2 weeks I will publish 1.10.0-rc1

[2019-06-05 13:30] codingnuclei commented on #1530
great thanks @owen-m1

[2019-06-05 13:35] #1530 closed

[2019-06-05 15:26] nicoe commented on #1484
Sorry for the delay, I might have a minimal example here:
https://jsbin.com/nafofozoja/edit?html,js,output

[2019-06-05 21:17] tonykor commented on #1529
thanks, it works

[2019-06-06 01:08] owen-m1 commented on #1530
That was a conservative estimate :)
It is released now.

[2019-06-06 02:45] liftyourgame opened #1531 "Can't mount plugins"
#### Problem:
Trying to use the MultiDrag plugin
I'm using sortablejs directly to do this in a Vue component

In my component I have:

`` import Sortable, {MultiDrag} from 'sortablejs'

And in the components mounted function I have:

[code]

The mount call triggers the following error at compile time:

`Error in mounted hook: "TypeError: sortablejs__WEBPACK_IMPORTED_MODULE_1___default.a.mount is n

[2019-06-06 03:01] BrianKan714 commented on #1531
try   Sortable.mount( new MultiDrag() );

[2019-06-06 03:03] liftyourgame commented on #1531
TypeError: sortablejs__WEBPACK_IMPORTED_MODULE_1__.MultiDrag is not a constructor

[2019-06-06 03:06] liftyourgame commented on #1531
console.log("MultiDrag", MultiDrag)

shows:

MultiDrag undefined

Something going wrong with the import

[2019-06-06 05:31] codingnuclei commented on #1530
Haha, under promise over deliver 😁 great stuff

[2019-06-06 10:22] owen-m1 commented on #1531
You are using the version without the MultiDrag plugin. Upgrade to 1.10.0-rc1 if you want this feature.

[2019-06-06 10:22] #1531 closed

[2019-06-06 17:51] owen-m1 commented on #1283
In 1.10.0-rc1 there is now multidrag support

[2019-06-06 17:51] #1283 closed

[2019-06-06 17:51] owen-m1 commented on #1058
In 1.10.0-rc1 there is now multidrag support

[2019-06-06 17:51] #1058 closed

[2019-06-06 17:52] owen-m1 commented on #235
In 1.10.0-rc1 there is now multidrag support

[2019-06-06 17:53] owen-m1 commented on #1049
@pageYe123 In 1.10.0-rc1 there is now multidrag support

[2019-06-06 19:04] skitterm commented on #1150
@Xiangfs you definitely can tell an element to be "unsortable". See the [example link](https://github.com/SortableJS/Sortable#options) on the documentation for [`onMove`]( https://jsbin.com/nawahef/edit?js,output).

[2019-06-06 23:42] owen-m1 commented on #1531
@liftyourgame Sorry, you also need to do what @BrianKan714 said. The README was incorrect in it's example.

[2019-06-07 00:30] liftyourgame commented on #1531
Ok so I have:

[code]
package.json has:

`    "sortablejs": "^1.10.0-rc1",
`
Mounting now works.

I can single click items in my list and they change to selected state.

When I drag only one of the items is picked up.

When I drop on second list I get:

Uncaught ReferenceError: Sortable is not defined
    at MultiDrag.drop (sortable.esm.js:3389)
    at Function.pluginEvent (sortable.esm.js:808)

[2019-06-07 01:57] owen-m1 commented on #1531
@liftyourgame Please now try 1.10.0-rc2 from npm

[2019-06-07 02:16] liftyourgame commented on #1531
No error now but only drags one item. Single click on source list does not toggle selected class

[2019-06-07 02:28] owen-m1 commented on #1531
@liftyourgame Please create a JSBin or some way for me to see an example of it not working. I can look at  it tomorrow. It works on my end so I will need to test.

[2019-06-07 02:30] liftyourgame commented on #1531
Thanks @owen-m1 will do when I can. Really appreciate the assistance.

[2019-06-07 03:11] liftyourgame commented on #1531
@owen-m1 Found my problem. I had an extra click handler that was swallowing the click event.

[2019-06-07 14:15] owen-m1 commented on #175
Here is the official version: https://github.com/SortableJS/ember-sortablejs

[2019-06-07 14:18] owen-m1 commented on #1531
@liftyourgame Glad to hear it is working, thanks for letting me know

[2019-06-08 12:24] owen-m1 commented on #1520
To the best of my efforts, I cannot find the cause of the lag in lists with many items (10,000+). There are a few things which I can improve and I will, but even with those things improved the lag barely subsides. I have tested with multiple other libraries and it seems they have the same issue, so it is most likely an issue with the browser rather than anything the library is doing.

As for those

[2019-06-08 12:24] #1520 closed

[2019-06-08 12:29] owen-m1 commented on #657
https://github.com/SortableJS/Sortable/wiki/Dragging-Multiple-Items-in-Sortable

[2019-06-09 10:16] robin-philip-thomas commented on #1520
Thank you for your reply.

[2019-06-10 05:39] justacuser opened #1532 "Multi-drag demo not working in IE11"
#### Problem:
https://jsbin.com/wopavom/edit?js,output in IE11

![image](https://user-images.githubusercontent.com/32612689/59174575-62bce000-8b84-11e9-8ceb-3c368db05eee.png)

[2019-06-11 00:14] owen-m1 commented on #1532
Solved in commit 2ca1ff5f0ea0354e973c968f5be155ed7b845e43

[2019-06-11 00:14] #1532 closed

[2019-06-11 00:46] owen-m1 commented on #1518
As with the other reports of this bug, I still cannot reproduce this :/

[2019-06-11 00:47] #1510 closed

[2019-06-11 00:48] #1456 closed

[2019-06-11 01:52] liftyourgame opened #1533 "JSFiddle - Setup MultiDrag"
#### Problem:
I'm trying to create a MultiDrag JSFiddle example.

How do I import MultiDrag?

Can't use 'import' in JSFiddle

#### JSBin/JSFiddle demonstrating the problem:
https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.js

---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-branch, perhaps the problem has been solved;
 2. [Use

[2019-06-11 03:03] guday opened #1534 "It's taken me forever to track down the cause of this issue, but I'm also experiencing it. Like you said,if you **check and then uncheck the checkbox** and then do a drag, the checkbox will revert to the `:checked` state."
It's taken me forever to track down the cause of this issue, but I'm also experiencing it. Like you said,if you **check and then uncheck the checkbox** and then do a drag, the checkbox will revert to the `:checked` state.

![2017-09-21_12-51-49-1](https://user-images.githubusercontent.com/3209864/30708213-093fa216-9ecc-11e7-84c3-a40f7c0c2fd9.gif)

_Originally posted by @trevorgehman in https://git

[2019-06-11 03:13] guday commented on #1534
it seems you are trying to fix checkbox issue .

but it cause "radio" problems in above example.

![image](https://user-images.githubusercontent.com/7075757/59241246-7c6c2f00-8c39-11e9-9e84-b31be2edcfb2.png)

when radio0 change checked to radio1.  it will destory sub draggable.

and in destory function, it will set radio0 to checked.  then cause the problem. the radios can't click any more

[2019-06-11 03:16] guday commented on #1534
connect to your checkbox issue ,i solve the problem by add condition like this

![image](https://user-images.githubusercontent.com/7075757/59241447-3cf21280-8c3a-11e9-9c4c-2dded3e80338.png)

by now ,it run ok

[2019-06-11 10:52] owen-m1 commented on #1533
You are using the UMD version in that CDN link so everything is already bundled and mounted. Multi-drag should work out of the box, and nothing needs to be imported.

[2019-06-11 13:36] clemishow commented on #1517
I really need to have this bug fixed! Anyone have any leads? :)

[2019-06-11 15:50] NavidZ commented on #1517
@clemishow can you post the html code (ideally minimal reproduction) that makes this issue happen? I  don't think  this library is using pointerevents correctly.

[2019-06-11 15:52] clemishow commented on #1517
If I use: `supportPointer: false,` it works perfectly!

[2019-06-11 16:25] owen-m1 commented on #1517
@NavidZ I know it is caused by [Sortable.js#L633](https://github.com/SortableJS/Sortable/blob/master/src/Sortable.js#L633), when it is commented out it works fine. I tested on Chrome for Android and it is firing a pointermove event when the touch is started. If I comment it out and listen only for touchmove, there is no touchmove event fired.

[2019-06-11 17:26] frboud opened #1535 "Object doesn't support property or method 'parseInt'"
#### Problem:

Commit https://github.com/SortableJS/Sortable/commit/5c0a7eccd72b5e7e9967332bad0f4b24112a1bac change the global `parseInt` function to the ES2015 `Number.parseInt` function which is not supported in Internet Explorer.

#### Proposed Solution:

Going back to using  `parseInt` restores compatibility with IE.

[2019-06-11 18:12] NavidZ commented on #1517
That is expected. There is a region for touch events called slop region. Pointerevents don't have such a thing. So if you listen to all these events "touchstart", "touchmove", "pointerdown", and "pointermove" you would get the following events if user just touches a point and rightaway starts moving the finger slowly say by 100 px:

pointerdown
touchstart
pointermove [A few of these]
pointermove <

[2019-06-11 19:43] Grandizer opened #1536 "Know when a drop zone is hovered over (before drop)"
#### Problem:
I would like to add a class to a containing div when we are within mid drag as a way to show them the current drop zone (probably like a green dash around it - the styling is not my question.)  When you leave (but still are dragging) I want this class to be removed.  I see the `move` event and I can add a class, but not sure how to then remove it when they leave but are still draggin

[2019-06-11 21:42] owen-m1 commented on #1535
Already fixed.

[2019-06-11 21:42] #1535 closed

[2019-06-11 22:22] liftyourgame commented on #1533
Thanks @owen-m1 in that case do I need to call mount?

MultiDrag is undefined?

[2019-06-11 22:37] owen-m1 commented on #1533
@liftyourgame No, you do not need to mount it, it is already mounted.

[2019-06-11 23:16] owen-m1 commented on #1536
It is a good idea for a plugin, but you can do it using native browser events as I show here: https://stackoverflow.com/a/54960057/6088312

I'm sure it can be applied to the list.

[2019-06-12 11:28] garygreen opened #1537 "Cannot open selects when using "filter""
#### Problem:

When using `filter` option to restrict dragging certain items, it prevents being able to open selects etc within that item.

I suspect this is because it intercepts the `mousedown` event and does some kind of preventDefault.

![sortable-filter-prob](https://user-images.githubusercontent.com/1702638/59348091-2b7a3a80-8d0e-11e9-8f6a-ccca86004a52.gif)

#### JSBin/JSFiddle demonstrating

[2019-06-12 12:40] Grandizer commented on #1536
Thank you for the quick response.  That gets me 98% there!  Awesome.

[2019-06-12 12:40] #1536 closed

[2019-06-12 18:02] owen-m1 commented on #1537
Try setting the `preventOnFilter` option to `false`.

[2019-06-12 18:14] garygreen commented on #1537
That works! Thanks a lot Owen. Out of interest what does that option actually do? Is there a reason why it's not enabled by default?

[2019-06-12 18:41] owen-m1 commented on #1537
It stops `preventDefault` from being called when the drag is filtered out. It isn't `false` by default because previous maintainer wanted to keep backwards compatibility.

[2019-06-12 18:41] #1537 closed

[2019-06-13 13:38] #1533 closed

[2019-06-13 14:40] owen-m1 commented on #1380
I'm pretty sure this is just a drag image issue, in which case this issue has been fixed

[2019-06-13 14:40] #1380 closed

[2019-06-13 19:32] OkanEsen commented on #1515
Kind of related: #671

[2019-06-13 21:17] chuky3000x opened #1538 "Get order from hierarchical nested list"
I try to get the hierarchical order from my nested list looks like this:

[code]

I try to write the data to the console when i click a button, but i can't find a function that represent my list in a hierarchical structure. Can you help me?

My code:

[code]

[2019-06-13 22:43] owen-m1 commented on #1538
See this StackOverflow answer: https://stackoverflow.com/a/56589385/6088312

[2019-06-13 22:43] #1538 closed

[2019-06-14 12:25] efattal opened #1539 "Using for...in to loop on Arrays may break if Array.prototype is modified by the app"
#### Problem:

I would like to use Sortable in a WebComponent inside an app where old frameworks that I can hardly remove (PrototypeJS and ExtJS 3.4) override Array.prototype. Hence, Sortable breaks on drag-dropping when looping on arrays (like _detectNearestEmptySortable on sortables).

I submit a Pull Request that fixes the issue.
https://github.com/SortableJS/Sortable/pull/1540

#### JSBin/JSFi

[2019-06-14 13:04] owen-m1 commented on #1517
@NavidZ Thanks for clarifying that. Sortable has it's own "slop" detection using the `touchStartThreshold`, so I found out that it is actually caused by the fact that Chrome Android now has native Drag & Drop, and this caused Sortable to modify the `touchStartThreshold`. I fixed it in the commit above.

@clemishow @coloz Please let me know if the issue is fixed on your end if you build the latest

[2019-06-14 13:07] clemishow commented on #1517
@owen-m1 I'm using Angular 5 so I had to use the old plugin angular-sortablejs. I can't update to the latest version... @coloz can you help ?

[2019-06-14 13:47] owen-m1 commented on #1146
This has been solved in the latest.

[2019-06-14 13:47] #1146 closed

[2019-06-14 13:48] owen-m1 commented on #1534
@guday Could you create a JSBin showing the problem so I can fix it in the released version?

[2019-06-14 13:50] owen-m1 commented on #1131
@asmaLouahdi The [option](https://github.com/SortableJS/Sortable#optionnamestring-value) method

[2019-06-14 14:00] owen-m1 commented on #1457
@JurrijnP Please let me know if it is solved if you build `master` branch and use that build, otherwise please create a JSBin if you still get the error. I think I solved this recently.

[2019-06-17 02:08] bdlaureano commented on #1535
Hello owen.
Is this released already? I'm having that issue too..

[2019-06-17 02:37] owen-m1 commented on #1535
No, not released yet

[2019-06-17 10:12] simondubois opened #1541 "ncel"
#### Problem:

#### JSBin/JSFiddle demonstrating the problem:

---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-branch, perhaps the problem has been solved;
 2. [Use the search](https://github.com/SortableJS/Sortable/search?q=problem), maybe we already have an answer;
 3. If not found, create an example on [jsbin.com (draft)](http://j

[2019-06-17 11:52] owen-m1 commented on #1541
?

[2019-06-17 11:52] #1541 closed

[2019-06-17 14:15] owen-m1 commented on #1539
Why does that even break the for...in loop?

[2019-06-17 14:38] efattal commented on #1539
It's reproducible in the fiddle. Just look at JS errors in devtools and you'll see.

[2019-06-17 21:48] nonoesp commented on #1418
Same issue here. (Fast with few items; really slow with many items.)

[2019-06-17 22:13] owen-m1 commented on #1418
@nonoesp If you could share your setup with me I might be able to help

[2019-06-18 09:30] waynevanson opened #1542 "MultiDrag Plugin - Feature for different stacking types"
Hi Team,

Great work on this plugin and SortableJS too! Such a fantastic community and library. I've used `Vue.Draggable` and `react.sortablejs` and starting to contribute to those.

Currently MultiDrag 'stacks' all list items on top of each other. If it does not exist already, could we have a feature added that holds siblings next to each other instead of stacking on top of each other?

[2019-06-18 13:15] owen-m1 commented on #1542
@waynevanson It is possible, but at this point it is a question of whether or not the addition is worth the increase in the output file size. So I'm not sure about this.

[2019-06-19 02:59] waynevanson commented on #1542
Okay thank you. I'd love to see it and think it would be worth. Otherwise, we could wait to see if anyone else requests a similar change.

[2019-06-19 10:59] owen-m1 commented on #1542
@waynevanson Ok, here's an idea: a `stackedOffset` option that you give a percentage of the item's height and width, and the items will stacked using those values relative to the dragged item. For example, passing 100% for the height would cause the offset to be the height of the item, and therefore they would be stacked one on top of each other. Maybe the option could take a function in order to

[2019-06-19 12:31] stuta commented on #1542
I have similar problem but not with plain text lists.

My configuration:
[code]

I have selected here both radio and checkbox and I start dragging from radio. Radio moves correctly, but as soon as radio goes over the drop area on the right, the checkbox shows a red (selection color) clone that stays on the right side of left drag area. Either the checkbox should move with radio or it should not ap

[2019-06-19 15:26] owen-m1 commented on #1542
@stuta Could you make a JSBin showing that issue?

[2019-06-19 16:29] smnbbrv opened #1543 "Angular issues with 1.10 rc versions"
#### Problem:

Hi @owen-m1 and Co,

The angular users report, that the library does not work after upgrade to rc versions.

Are there known breaking changes? What could be the issue that the code that worked previously (1.7 -> 1.9) stopped working now

See https://github.com/SortableJS/ngx-sortablejs/issues/163

#### JSBin/JSFiddle demonstrating the problem:

Please see the attached issue

---
Bef

[2019-06-19 17:03] owen-m1 commented on #1543
I took a look at it, and I am not sure. There aren't any error messages, so there must be an issue with ngx-sortablejs interacting with Sortable somehow. There aren't any breaking changes that I know of between 1.9.0 and 1.10.0-rc2.

I think you are in a better position to figure this out than me. The fact that it works on StackBlitz and not locally makes me think it has something to do with the w

[2019-06-19 19:37] stuta commented on #1542
Not easily. But if you decide to change the lib I can test the changes. The point is that the list is not always text and not always horizontal or vertical but fluid. I'm using flexbox here.

[2019-06-19 20:09] smnbbrv commented on #1543
Thanks, the latter could be very useful! I’ll check the ways how it can be imported differently

[2019-06-20 01:39] waynevanson commented on #1542
@owen-m1

[2019-06-20 02:08] waynevanson commented on #1542
Sorry, accidentally closed it.

@owen-m1 `stackedOffset` sounds like a great idea!

There should be both options available, for `list` and for `cursor`.

I'd recommend additional options based on this suggestion:
[code]

[2019-06-20 06:42] chetanapadmane1 opened #1545 "On Drag drop element using Sortable throws Error in console"
![image](https://user-images.githubusercontent.com/47378267/59826359-c77df480-9353-11e9-967d-2c5bda6f988d.png)

#### Problem:
On Drag drop element Using Sortable throws error in console,
content.js:26 Uncaught TypeError: Cannot read property 'name' of null.

Please find the attached Image for error details.

Error find on Angular Project: Angular Version 6.0.8
Checked on official page (http://sort

[2019-06-20 15:48] owen-m1 commented on #1545
@chetanapadmane1 Could you open the debugger and post a screenshot of the line that is giving the error in SortableJS? I cannot tell the origin of the error if it is in your project's build file.

[2019-06-20 17:11] owen-m1 commented on #1542
@waynevanson What about a `stackList` and a `stackCursor` option that are functions? This way the user can specify both the list and cursor stacking.

For example, to make all the items in the list be next to each other in the list like you said:
[code]

[2019-06-20 22:13] waynevanson commented on #1542
@owen-m1 that's extra fancy! I love it. A very flexible design.

[2019-06-21 11:06] codingnuclei opened #1546 "Destroy sortable after swap has occurred"
#### Problem:
Trying to use sortable.destroy() on a sortable with option swap: true. (after one swap has been done).

Throws error "Cannot read property 'captureAnimationState' of null"

Fails at pluginEvent('drop' ....

If prior to destroy i can set the swap option to false it does not throw this error.

Thanks

[2019-06-21 13:02] owen-m1 commented on #1542
@waynevanson I realize now that what I described in my last comment could only work on the elements under the cursor. There can't be sorting within the root list if all the multi drag elements are visible - it doesn't make sense. All the elements will already remain visible (not stacked) if `sort: false` is set on the root list, which means that you cannot sort in that list and therefore the extra

[2019-06-21 13:13] smnbbrv commented on #1543
Here is the output of `require('sortablejs')`

1.9.0 (and former):

![image](https://user-images.githubusercontent.com/13453858/59924667-890d3600-9436-11e9-819a-dcba7641df76.png)

1.10.rc-2

![image](https://user-images.githubusercontent.com/13453858/59924592-5b27f180-9436-11e9-81b1-25e5dc51a0e9.png)

That's a breaking change still... I have nothing against, just want to know whether it will be ke

[2019-06-21 13:32] owen-m1 commented on #1543
@smnbbrv I never thought about anyone using the `require` syntax.
It is backwards compatible for `import Sortable from 'sortablejs';`, because the default export is the same, but it seems the `require` function does not respect default exports.

Is this what is causing ngx-sortablejs to break?

[2019-06-21 13:33] smnbbrv opened #1547 "Typescript bindings"
#### Problem:

Hi there,

trying to use current version of `sortable@1.10.0-rc2` with `@types/sortablejs` in ngx-sortablejs.

It works pretty well by simple

[code]

however the following line `export = Sortable;` forces to add ` "allowSyntheticDefaultImports": true,` to the typescript compiler options, which is, well, not that ideal, because I need to ask all my users to enable this compiler opti

[2019-06-21 13:37] smnbbrv commented on #1543
Yeppers, here is a permalink

https://github.com/SortableJS/ngx-sortablejs/blob/337eb0d3ab81cd144d8e35ca815c1e2b0886aea0/projects/ngx-sortablejs/src/lib/sortablejs.directive.ts#L8

As I can remember formerly I was forced to use require syntax because of the broken typescript typings. Now I can rework it in a way it uses default export, so it is fine for me.

However this is going to be closely con

[2019-06-21 13:37] #1543 closed

[2019-06-21 13:45] smnbbrv commented on #1547
It is actually worth mentioning that typescript typings are not just an angular thing, they are internally used by many IDEs (e.g. vs code) to produce hints in JavaScript as well. So, having the typings distributed within the package has another advantage.

[2019-06-21 14:13] owen-m1 commented on #1547
@smnbbrv Sure, there can be type definitions added to this repo and the main package. Did you say you are willing to help with this or should I do it?

[2019-06-21 14:50] smnbbrv commented on #1547
I can prepare a PR containing the current typings from definitelytyped + maybe some improvements and it would be awesome if you can review it from the current data types prospective. I guess it would be the best workflow

[2019-06-21 14:56] owen-m1 commented on #1547
Sure, that would be great

On Fri., Jun. 21, 2019, 10:50 a.m. Simon Bobrov, <notifications@github.com>
wrote:

[2019-06-22 14:24] prosperevergreen commented on #1206
set the swap property of the two tables to true

[2019-06-22 14:27] owen-m1 commented on #1206
As @prosperevergreen said, this is now possible with the [`swap` plugin](https://github.com/SortableJS/Sortable/tree/master/plugins/Swap).

[2019-06-22 14:27] #1206 closed

[2019-06-22 15:14] prosperevergreen commented on #1206
Is there any function like onswap: ? Or how can I add a class to the html elements after swapping?

[2019-06-22 15:49] owen-m1 commented on #1206
@prosperevergreen You can use the `onDrop` event

[2019-06-23 00:24] owen-m1 commented on #1059
Try the latest, I think this is fixed

[2019-06-23 02:21] owen-m1 commented on #1539
Solved in commit 854fed779876074d564c053afb2b6fe7ed99088e.

[2019-06-23 02:21] #1539 closed

[2019-06-23 14:29] waynevanson commented on #1542
I think `stackCursor` does the job, as `stackList` was just extra functionality as:

And you're right, it doesn't.

This sounds like a good option. Is there anything else, you need to know?

[2019-06-23 14:33] owen-m1 commented on #1542
@waynevanson Nope

[2019-06-23 16:59] ErinPo opened #1549 "Examples storing sort order on the server side"
#### Problem:
I saw the store function but noticed it is using browser local storage. Is there any code example of how SortableJS can be used to store the sort order on the server side - for example in a JSON or XML file - so that it shows for other people as well?

[2019-06-23 20:18] owen-m1 commented on #1549
Something like this:
[code]

[2019-06-24 06:22] chetanapadmane1 commented on #1545
![image](https://user-images.githubusercontent.com/47378267/59995907-623d4280-9676-11e9-9daf-2b9749f53122.png)
Attached is the stack trace of error.

[2019-06-24 06:24] chetanapadmane1 commented on #1545
![image](https://user-images.githubusercontent.com/47378267/59995976-931d7780-9676-11e9-8176-230b7398ec78.png)
Please find the attached screenshot of error line-26 after opening debugger.
These screenshot is taken after elements drag drop on http://sortablejs.github.io/Sortable/

Same error facing on our project environment.

[2019-06-24 07:29] coloz commented on #1517
@owen-m1 The issue still exists.

[2019-06-24 14:57] Grandizer opened #1550 "IE 11 Dragging Seems Very Laggy Compared To Other Browsers"
I started at the Vue.Draggable site but they [said](https://github.com/SortableJS/Vue.Draggable/issues/658
) to come here.

I even pulled the master branch of `1.10.0-rc2` and it behaves the same.

Our code renders a card of information. That card needs to be sorted/dragged around. This works great in all browsers except IE 11 - which sadly enough, is what the client (a very large hospital system)

[2019-06-24 17:01] owen-m1 commented on #1550
Yeah, it is broken for IE11. I will make a new release soon. For now you can use SortableJS 1.9.0 and it should work fine.

[2019-06-24 17:06] owen-m1 commented on #1545
@chetanapadmane1 This seems to be an error with one of your Chrome extensions to do with Mcafee. It is probably thinking the drag and drop operation in Sortable is a file drag & drop operation, by the looks of it, and this is causing an error. To disable the native Drag & Drop in Sortable, you can set the option `forceFallback: false`, but you should just uninstall that extension.

[2019-06-25 10:56] chunaidong commented on #1550
now,you can close this quest.because the author also fixed it.you should update you version

[2019-06-26 06:11] regg1e opened #1551 "When dragging a table, the browser's scrollbar can't scroll."
#### Problem:

#### JSBin/JSFiddle demonstrating the problem:

---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-branch, perhaps the problem has been solved;
 2. [Use the search](https://github.com/SortableJS/Sortable/search?q=problem), maybe we already have an answer;
 3. If not found, create an example on [jsbin.com (draft)](http://j

[2019-06-26 13:55] owen-m1 commented on #1551
Why no JSBin?

[2019-06-26 14:51] DBFick opened #1552 "Multidrag: How do I get the selected items from button click"
Using SortableJS Multidrag feature and it works great for what I need.  I have a list of keys (divs) that I allow users to sort before saving.  I have been trying to make use of the fact that multidrag sets the selected classes on the elements on the page and I would like to make use of these selected items when a user clicks on a delete button on the page.  The issue I am running into is I cannot

[2019-06-26 14:59] owen-m1 commented on #1552
Something like this: https://jsbin.com/danadit/1/edit?html,js,output

[2019-06-26 14:59] #1552 closed

[2019-06-26 16:25] DBFick commented on #1552
Thank you, as soon as I saw your solution I realized I was thinking too jQuery and not pure JS... sorry to have wasted some of your time.  Thanks for the answer though :)

[2019-06-26 19:35] Grandizer commented on #1550
Hey @owen-m1 any guestimate on when this will be fixed?  I can try 1.9.0 but if it is going to be soon, I will just wait.  Thanks.

[2019-06-27 00:24] chunaidong commented on #1550
but I use the newest version ,i will be fine.

[2019-06-27 00:31] owen-m1 commented on #1517
@coloz You ran `npm run build`?

[2019-06-27 00:55] owen-m1 commented on #1550
@Grandizer @chunaidong 1.10.0-rc3 is now published.

@Grandizer Please let me know if it fixed your issue.

[2019-06-27 01:01] chunaidong commented on #1550
sorry, I just found out ,I used is Draggable . It is has no problem for ie9+

[2019-06-27 01:21] coloz commented on #1517
@owen-m1 The latest version has fixed the issue

[2019-06-27 01:21] #1517 closed

[2019-06-27 01:28] owen-m1 commented on #1517
Great. It's also worth mentioning here that IOS has native drag and drop as well in Safari, so that should be fixed in e5b239674b76893f244c4a5248ea9e2962dd8ae0.

[2019-06-27 17:48] Grandizer commented on #1550
@chunaidong, no.  The 1.10.0.-rc3 did NOT fix it.

[2019-06-27 21:07] Jgaleas7 opened #1553 "navigator is not defined"
navigator is not defined. in the new EDGE(chromiun) Version 77.0.197.1
![error sortablejs](https://user-images.githubusercontent.com/13549742/60300886-3d9ed000-98ed-11e9-8b56-83f38c0feded.PNG)

[2019-06-28 01:56] owen-m1 commented on #1553
Wow, no more releases until I get add some tests

[2019-06-28 02:28] cugb-xieyu commented on #1131
Unfortunately .option('disabled', true) won't work dynamically

[2019-06-28 02:34] cugb-xieyu opened #1554 ".option("disabled", true) doesn't work dynamically"
#### Problem:
I want to disable the sortable control dynamically with **.option("disabled", true)**  which doesn't work as expected, the list items are still draggable

[2019-06-28 03:48] gelevanog commented on #1131
Can this code code work for you?

[code]

[2019-06-28 13:19] owen-m1 commented on #1553
Oh, never mind, this is a new issue

[2019-06-29 11:57] owen-m1 commented on #1554
It works here: https://jsbin.com/sewokud/edit?js,output

Please make a JSBin demonstrating the issue.

[2019-07-01 01:01] chunaidong commented on #1550
so,why not you try to use the Vue.Draggable to instead of the sortable

[2019-07-01 01:14] owen-m1 commented on #1550
@Grandizer Could you create a JSBin with the issue? A simple list is working fine for me in IE, so it might be to do with your specific case.

[2019-07-02 14:48] wfabian opened #1555 "Use utils"
I'm tryin to use the utils and to select some elements to collection – But i don't know how to use the utils or the select-function.

Always gettin an error message like:
Cannot read property 'select' of undefined.

So it seems there is no utils for me.
What I'm doing wrong? Am i this stupid?

https://jsbin.com/noyidonabi/edit?html,css,js,console,output

[2019-07-02 15:16] owen-m1 commented on #1555
use `Sortable.utils` - it is a static property

[2019-07-02 15:21] wfabian commented on #1555
Already tried this – Still gettin an error.

https://jsbin.com/xicarerato/edit?html,css,js,console,output

[2019-07-02 15:42] owen-m1 commented on #1555
@wfabian There is no `select` method in the utils. What are you trying to select?

[2019-07-02 15:43] #1549 closed

[2019-07-02 15:45] wfabian commented on #1555
I'm trying to add elements to a MultiDrag-Collection without any user action.

https://github.com/SortableJS/Sortable/tree/master/plugins/MultiDrag

Did i missunderstand something?
Is it possible to do that?

[2019-07-02 15:49] owen-m1 commented on #1555
@wfabian Oh right, sorry, I forgot about that method. You are passing in the jQuery object, but you should be passing in the element itself.

Here is the fixed JSBin: https://jsbin.com/qafomak/edit?html,css,js,console,output

[2019-07-02 15:54] wfabian commented on #1555
Oh, there we go.
Now it works – Thank u so much! :-)

[2019-07-02 15:54] #1555 closed

[2019-07-02 16:10] #1545 closed

[2019-07-03 14:08] Grandizer commented on #1550
@owen-m1 - here is the best I can do at the moment.  Nothing really works.  But perhaps you will see code in there that shows what I am doing wrong.

[2019-07-03 15:08] owen-m1 commented on #1550
@Grandizer Please make the example more minimal.. I cannot work with your example

[2019-07-03 15:10] Grandizer commented on #1550
No kidding.  :/  I will see what I can do.

[2019-07-03 19:08] raimund-schluessler opened #1556 "Delay option has no effect on Android devices"
#### Problem:

In short: The `delay` option has no effect on Android devices.

I want to set a delay before a drag event starts so that you can scroll the list without accidentally starting to drag an item. The `delay` option is the proper solution for this and it works fine on iOS12. On the Android devices I tested, the delay is ignored and the drag event starts immediately, which prevents the us

[2019-07-03 19:25] owen-m1 commented on #1556
Interesting. I can already tell it's because it is not being detected as a touch event, since disabling `delayOnTouchOnly` makes it work. I will investigate this.

[2019-07-03 19:26] Grandizer commented on #1550
Ok @owen-m1 - I was able to [dumb](https://jsfiddle.net/Grandizer/t31jfpeo/13/) it down a bit more.  However, I can not seem to get your draggable to work in jsfiddle.

[2019-07-03 23:03] owen-m1 commented on #1556
Should be fixed in commit a09bddb7ef0af5f51a2f8aeb0a5ee557004acfb4.

[2019-07-03 23:03] #1556 closed

[2019-07-03 23:40] owen-m1 commented on #1546
@codingnuclei This error shouldn't be happening, and I cannot reproduce it. I do know a potential solution, but I would rather know why the error is happening in the first place, so a JSBin would be helpful.

[2019-07-04 05:40] laukstein opened #1557 "Missing Sortable.min.js in recent v1.10.0-rc3"
Recently was released Sortable v1.10.0-rc3 https://github.com/SortableJS/Sortable/releases and it is missing updated Sortable.min.js

[2019-07-04 09:55] laukstein opened #1558 "[Feature] Get Array with sort order"
Let's way we have a list with 5 items that would be Array init order

    [1, 2, 3, 4, 5]

When item 3 moved at begging, then the Array order should become

    [3, 1, 2, 4, 5]

This feature can be featured even more where user can define what are the values of init Array, like instead of what mentioned above would be

    ["Cindy", "Andrew", "Bella", "David", "Ezra"]

or

    [{
        name: "Ci

[2019-07-04 11:12] owen-m1 commented on #1558
Why not use a framework and binding for this? For example, [VueDraggable](https://github.com/SortableJS/Vue.Draggable)

[2019-07-04 11:32] Grandizer commented on #1550
FYI - This stripped down version does seem decent on IE.  Which tells me that with too much styling and/or content within the item being dragged seems to be the issue.  What do you think?

[2019-07-04 12:47] laukstein commented on #1558
@owen-m1, that would require me to add whole Vue framework for this basic concept. Is not likable.

[2019-07-04 13:36] owen-m1 commented on #1550
@Grandizer Yes, it doesn't seem to be slow for me on IE11, so it's probably your CSS or most likely JavaScript events.

[2019-07-04 13:42] owen-m1 commented on #1558
@laukstein That is the whole point of a JavaScript framework though - to keep the JavaScript data in sync with the DOM state. But it is still possible without it, I believe I answered this in issue #1412.

[2019-07-04 14:11] PeterShaggyNoble commented on #1107
This seems to have been resolved.

[2019-07-04 15:33] laukstein commented on #1558
@owen-m1, why to depend on `data-id` attribute when you can do it by default without any attributes. The best would be to index by default with Number and allow to define custom values in Sortable parameter.

[2019-07-05 00:27] #1107 closed

[2019-07-05 00:29] owen-m1 commented on #1557
@laukstein It is there in the root directory

[2019-07-05 10:00] laukstein commented on #1557
@owen-m1, my mistake. Closing this issue.

[2019-07-05 10:00] #1557 closed

[2019-07-08 12:39] dumitrub opened #1561 "Nested Grouping"
Hi all,

This script accomplishes 95% of what I need, so it sucks that I can't figure this one out.

#### Problem:

When looking at Nested Lists, I can't figure out a way to create new "parents".
Even [the demo](https://sortablejs.github.io/Sortable/#nested) fails at this.
Try making item 1.3. a child of item 1.2. and it probably won't work, unless I'm missing something really obvious.

I can move

[2019-07-08 12:47] owen-m1 commented on #1561
@dumitrub Hi, this is because the items that start off as empty do not contain a Sortable container within themselves.
It is as simple as creating one yourself: https://codepen.io/owen-m/pen/pXQoEv?editors=1010
In that codepen, you can drag into any of the items - even the ones that start off as empty. You might have to play a bit with `swapThreshold` and `emptyInsertThreshold` to get a more desir

[2019-07-08 12:56] dumitrub commented on #1561
Wow... 🤦‍♂

Thank you! Now it works.

[2019-07-08 13:21] daxhns opened #1562 "SortableJS not working in CKEditor"
#### Problem:
Hello, great plugin, but:

SortableJS does not work inside a CKEditor. :(

We have spent days trying to make it work, with no success. SorableJS simply does not work inside the CKEditor. We are using CKEditor 4. We have tried various approaches, including writing our own plugin for CKEditor that uses SortableJS, but nothing worked so far.

At the same time, jQuery UI works fine insid

[2019-07-08 13:26] #1561 closed

[2019-07-08 13:44] owen-m1 commented on #1562
@daxhns I looked at it and am not sure, but it seems that someone else had the same problem and solved it here: https://github.com/SortableJS/Vue.Draggable/issues/222

[2019-07-08 13:52] daxhns commented on #1562
Hi, I saw that, it's the same issue but the solution it suggests, using another CKEditor plugin (divarea) does not solve the issue for us.
Besides, even if it that would solve the issue, we are unable to use that plugin, since we need to have CKEditor working in the default IFRAME mode, and divarea plugin turns the editor into content editable div.

[2019-07-08 14:17] owen-m1 commented on #1562
@daxhns Have you opened an issue in CKEditor about this? I am thinking it is a problem with their editor canceling the move events.

[2019-07-09 10:03] dumitrub opened #1563 "Saving Nested Sortables with PHP"
Hi all,

_I have very limited knowledge of JS (but decent knowledge of PHP)._
So I'm trying to properly pass to PHP the order of my nested items.

#### Problem:

What I have is a list of nested items, each with a hidden input field. So when I POST the form, I use the names and values of those fields in the order that they appear in the DOM.

`
<input type="hidden" class="menu-item-checkbox" name="

[2019-07-09 11:44] daxhns commented on #1562
No, but the fact that sortable with jQuery UI works in CKEditor suggests that drag events are not prevented by CKEditor.

Or maybe jQuery UI and SortableJS listen to the different events, or listen in a different way?

[2019-07-09 12:25] owen-m1 commented on #1563
@dumbbillyhardy Hi, I believe this stackoverflow answer might help you: https://stackoverflow.com/questions/56571434/sortablejs-get-order-from-nested-list/56589385#56589385

[2019-07-09 13:57] dumitrub commented on #1563
**Thank you for your assistance.**

Unfortunately it does not, at least it doesn't solve my problem.

I really don't understand why it has to be so difficult to just generate a multi-dimensional associative array based on the structure created with SortablesJS.

All I need is to end up with an array like this after submitting the form:

[code]

I can freely change my HTML code, go away with the in

[2019-07-09 14:38] owen-m1 commented on #1563
@dumitrub So why would that solution not work? It does exactly what you are asking. All you need to do is use this code:
[code]

Replace the identifier with the attribute on the HTML Element used to identify the item. For you it seems to be an `id` of some sort. You will have to put the ID on the element as `data-id="id"` in this case, and set the `idenfitier` variable in that code to `'id'`.
You

[2019-07-09 14:45] dumitrub commented on #1563
That code looks to work well in the console, but if I push the same result into an input field, then the value that I get on submit is this:

`[standard_order] => [object Object],[object Object],[object Object],[object Object]`

I'm probably missing something very obvious 😦

[2019-07-09 15:14] owen-m1 commented on #1563
@dumitrub You have to call `JSON.stringify` on it before you send it then. Ex:
`JSON.stringify(serialize(root));`

[2019-07-10 07:41] dumitrub commented on #1563
@owen-m1 you're a lifesaver.
I was mistaken to assume that a JS function called "serialize" would do the same thing as the serialize() of PHP.

Now the contents of the field are properly encoded and can be submitted with the form.

For anyone stumbling into this thread with a similar issue, please do note that you can't just use unserialize() or json_decode() in PHP to get the array.
You also have

[2019-07-10 07:41] #1563 closed

[2019-07-10 14:40] laukstein opened #1564 ""filter" elements should be ignored from oldIndex, newIndex, oldDraggableIndex and newDraggableIndex"
Lets say we have a list

    <ul>
        <li class=no-drag></li>
        <li class=is-dragable>List 1</li>
        <li class=no-drag></li>
        <li class=is-dragable>List 2</li>
        <li class=no-drag></li>
        <li class=is-dragable>List 3</li>
        <li class=no-drag></li>
    </ul>

and in Sortable options defined

    filter: ".no-drag",  // Selectors that do not lead to dragging (

[2019-07-11 16:42] owen-m1 commented on #1564
Because those elements are still marked as "draggable" because the `draggable` option includes them. Maybe set the `draggable` option to `'>*:not(.no-drag)'`.

[2019-07-12 00:07] owen-m1 commented on #1562
@daxhns Not sure, but I would still open an issue in CKEditor

[2019-07-14 14:22] smg99 commented on #1490
I am using a simple import statement as below,
import Sortable from 'sortablejs';

with revertOnSpill option set to true. However this still doesn't seem to be working. I tried having same options (set revertOnSpill to true) for both the list.

Any suggestion?

[2019-07-14 15:27] lvegerano commented on #1300
Hi, I'm working on the ember addon and came up with this https://github.com/SortableJS/ember-sortablejs/blob/dnd-tests/addon-test-support/dndsimulator.js

It should help.

[2019-07-14 22:59] owen-m1 commented on #1490
@smg99 Could you make a JSBin showing the issue?

[2019-07-15 02:44] smg99 commented on #1490
Well this seems to be issue in my configuration. Its working in enclosed JSBin indeed.
https://jsbin.com/tusufupamo/edit?html,js,output

[2019-07-15 03:16] smg99 commented on #1490
@owen-m1  Here is what I am trying to achieve
I have set revertOnSpill on list one to true, however still the add method of second list is executing when there is a spill of list 1 item. Any thoughts?

JSBin : https://jsbin.com/wagupifala/edit?html,js,output

[2019-07-15 12:07] owen-m1 commented on #1490
@smg99
1. Yes, this is the expected behavior, because it is not "spilling" when it is added to the second list since the second list allows items from the first list to be inserted.

2. I am testing this in your JSBin, and do not see a duplicate being created. Have you tested this?

[2019-07-15 12:14] smg99 commented on #1490
1 Yes but I am trying to not add to the list. My purpose is first I hover the dragged item over list 2 and then move hover out of list 2 (and list 1 as well). So ideally it should go back to list 1 and it's going back as well. However it should not call add method of list 2. Isn't it ?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: owen-m1 <notifications@gi

[2019-07-15 12:16] smg99 commented on #1490
2 try the above scenario mentioned in 1 and you will notice it will create a duplicate. Give me sometime. I'll add a gif soon

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sumit G <sumitg3767@gmail.com>
Sent: Monday, July 15, 2019 5:44:26 PM
To: SortableJS/Sortable <sortable@noreply.github.com>; SortableJS/Sortable <reply@reply.github.com>
Cc: Mention <men

[2019-07-15 12:18] tjuarez opened #1566 "Limit items per row on grid"
I'm trying to use the grid view. I need to limit the number of items per row. I mean, if my list has 9 items, I expect to see 3 rows with 3 items on each one.
Is that possible?

[2019-07-15 12:37] owen-m1 commented on #1490
@smg99 I see what you mean now in both scenarios. I will have to look into making the behavior of the plugin more appropriate.

[2019-07-15 12:45] owen-m1 commented on #1566
@tjuarez It is possible to limit the number in a row if you make each row a separate Sortable list and use the `put` method to only return `true` if there is enough room in the row. Ex.

[code]

[2019-07-15 13:12] tjuarez commented on #1566
Thanks @owen-m1, that helps.
Let me double the bet :)
At first time I want to see something like this:
1   -   2   -   3
4   -   5   -   6
7   -   8   -   9

Also, I want to be able to reorder items, but always having 3 items per row.
So, if I move the item # 4 next right to the item #2, I want to see the following:
1   -   2   -   4
3   -   5   -   6
7   -   8   -   9

If I move the item # 9 next

[2019-07-15 13:17] owen-m1 commented on #1566
Try the [Swap](https://github.com/SortableJS/Sortable/tree/master/plugins/Swap) plugin.

[2019-07-15 13:39] tjuarez commented on #1566
Thank you! I really appreciate your help
The Swap plugin doesn't make what I need.
I will keep looking for a solution...

[2019-07-15 14:37] owen-m1 commented on #1566
@tjuarez If you do not find a solution, if you want the swap to occur while hovering then this is also possible using events.

[2019-07-15 14:42] plindelauf commented on #1490
I'm also hoping we can get this behaviour in soon.

Allow me to add the following usability issue: when I drag an item from list 1 and hover it over list 2, I see the ghost being added. However, when I continue to drag it out of list 2, the ghost sticks around, even if I left list 2 with my mouse cursor. The is rather counter intuitive: just as the ghost is added when I hover over list 2, I would

[2019-07-15 22:49] lvegerano opened #1567 "Prevent sorting on non-owner droppable group."
#### Problem:
Having two linked groups and sort set to false, I expected that sorting will be completely disabled.

My use case.

I have a calendar application that has a "storage bin" for events.
The storage bin can be sorted within.
Each calendar day events are sorted by time. I would like to drag an event from one day to another without sorting.

Maybe there is a different way to accomplish thi

[2019-07-16 00:07] Gruski opened #1568 "Sortable breaks post Ajax call"
I have an ASP.NET Ajax call "__doPostBack()" in the onEnd event of the sortable. The sorting behavior breaks immediately after executing the Ajax call. After that the elements are no longer draggable.

[2019-07-16 00:14] Gruski opened #1569 "Sortable breaks other dragable components"
I have a javascript drag and drop page splitter component I wrote that resides in the same page as the sortable component. The moment I configure sortable, my component no longer work. Is there anything I need to be aware about sortable that could be interfering with other drag/drop controls?

[2019-07-16 00:24] Gruski commented on #1569
Never mind sortable was not the cause.

[2019-07-16 00:24] #1569 closed

[2019-07-16 00:30] owen-m1 commented on #1568
@Gruski It would be helpful to see the exact code in the onEnd event that is breaking it

[2019-07-16 01:07] owen-m1 commented on #1567
Yeah, I was already thinking of fixing this, but I it would be considered a breaking change.

I will think of another option for this, but for now:

[code]

Does it need to be appended to the end of the list when it is added?

[2019-07-16 01:26] dxyqqs commented on #985
Nice work. it is better than setting 'ondrop ' on body!

[2019-07-16 13:48] lvegerano commented on #1567
Im my case, the framework will take care of the order rendering because of the time ordering. Other use cases, let's say without the time sorting constraint should append to the top or inverted via config.

[2019-07-16 13:49] rienswagerman opened #1571 "Safari 13 loses drag event"
#### Problem:

On Safari Version 13.0 (14608.1.32 / 15608.1.31.1.2) the drag event is broken after initial drag & drop:

1. Go to http://sortablejs.github.io/Sortable/
2. Drag & drop an item in the list
3. Drag again: there is no drag event, instead the text gets selected.
4. Click once
5. Drag event is back

#### page demonstrating the problem:

http://sortablejs.github.io/Sortable/

[2019-07-16 14:55] owen-m1 commented on #1571
Currently, I cannot test on this browser

[2019-07-17 08:26] kevin-j-morse opened #1573 "'filter' vs 'draggable'"
#### Problem:

After reading the documentation I still don't understand why both the 'filter' and 'draggable' options exist.

Naively I would think `filter: '.selector'` should be the same as `draggable: ':not(.selector)'` but that doesn't seem to be the case. Could someone explain the intent behind these two similar but seemingly opposite options?

[2019-07-17 11:53] owen-m1 commented on #1573
@kevin-j-morse It comes down to how Sortable views the element. If an item is not draggable (ie. excluded by the `draggable` option), then it will not only be undraggable, but it will also no longer be seen as an "item" in the list. This means that you cannot swap with it as if it is an item in the list when you are dragging a draggable element over it, and if you drag an item from another list ov

[2019-07-17 12:52] laukstein opened #1574 "Sortable doesn't work on IE11 when Handle is <button>"
Testcase with `button.my-handle` https://jsbin.com/sekugazuga/2/edit?html,js,output - doesn't work
Testcase with `span.my-handle` https://jsbin.com/numakuh/edit?html,js,output - works well

[2019-07-17 14:05] owen-m1 commented on #1574
Duplicate of issue #1486.

Only solution is to set `forceFallback: true`.

[2019-07-17 15:40] Polluux commented on #1439
@owen-m1  Hi, I noticed that when I try to center the items in the container, I cannot drag new items above or at the left of the items.

https://jsbin.com/qucacawedu/edit?html,css,js,output

I may be doing something wrong, could you take a look at it  plz ?

Thanks in advance.

[2019-07-17 16:42] owen-m1 commented on #1439
@Polluux It will not work. In time I will make a plugin to support grid-style dragging, but for now Sortable will treat it like a list.

[2019-07-17 18:42] Gruski commented on #1568
Sorry, it was a different code error that was causing the code to halt.

[2019-07-17 18:42] #1568 closed

[2019-07-17 21:12] Gruski opened #1575 "sortable behavior lost post Ajax refresh"
Sortable seems to lose its binding if the 'el' element containing the list of items is rerendered with an Ajax call. My guess is that sortable doesn't do deferred event binding at the document level but instead binds the events directly to the given element. So what is best practice in this case to maintain sortability?

[2019-07-17 23:07] owen-m1 commented on #1575
@Gruski Why not initialize Sortable after the AJAX call or whenever the list is added?

[2019-07-17 23:20] Gruski commented on #1575
Because I update that list often within the life cycle of this single page application. So you suggest constantly re-initializing sortable? Won't there be some memory leakage if for example I reinitialize it several thousand times?

[2019-07-17 23:23] owen-m1 commented on #1575
@Gruski Why is the list removed and re-added to the DOM with this AJAX request? Is that necessary?

[2019-07-17 23:37] Gruski commented on #1575
That's how ASP.NET forms works. They have an <UpdatePanel id='Example'> element and Microsoft's Ajax framework automatically rerenders any of the HTML generated by components you place inside this element when you call Example.Update() on the server side. So when another concurrent user makes changes to the underlying data it is easy to refresh the entire table component. Yes I know I can build my

[2019-07-18 00:37] owen-m1 commented on #1575
@Gruski The events are not document level, so you will just have to create a `new Sortable()` each time. There should not be any memory leaks.

[2019-07-18 01:42] Gruski commented on #1575
So I do this?
`let sortable = new Sortable(el, {})`
`...Ajax call...`
`sortable.destroy();`
`let sortable = new Sortable(el, {})`

Do I have to call destroy() before the element is gone from the page or can I call it after too? Or does it matter?

[2019-07-18 02:41] owen-m1 commented on #1575
@Gruski That looks good. It shouldn't matter if it is called after the element is removed.

[2019-07-18 05:45] kevin-j-morse commented on #1573
Thanks for the great explanation. That makes sense.

[2019-07-18 05:45] #1573 closed

[2019-07-18 06:17] kevin-j-morse opened #1576 "Chrome-only ghosting bug with side by side sortables"
#### Problem:

With two side by side sortables there is strange ghosting behaviour that happens only on Chrome. The jsbin was screencaptured in Chrome, Edge, and Firefox and the weird behaviour only seems to happen in Chrome when sorting elements on the right most Sortable.

![chrome](https://user-images.githubusercontent.com/4412177/61433572-8217fd00-a8e8-11e9-8978-ad3c58d40527.gif)
![edge](https

[2019-07-18 06:22] kevin-j-morse commented on #1576
Just tried in IE 11 for good measure. No issues there either!

[2019-07-18 06:29] laukstein commented on #1564
@owen-m1, `draggable: '>*:not(.no-drag)'` results e.oldDraggableIndex and e.newDraggableIndex with right values. Thanks!

[2019-07-18 06:29] #1564 closed

[2019-07-18 06:56] Polluux commented on #1439
Okay thanks

[2019-07-18 07:15] bigbossjuan opened #1577 "IE11 open a new page directly."
#### Problem:

#### JSBin/JSFiddle demonstrating the problem:

Hello, I have no problem using sortablejs in Google, but I can't drag it on ie11. Open a new page directly.

[2019-07-18 09:17] kevin-j-morse commented on #1577
Please create a JSBin/JSFiddle or post some code? Sortablejs should work fine in IE11.

[2019-07-18 09:23] kevin-j-morse commented on #1576
A little more info... I'm using Chrome 75.0.3770.100 (64-bit) on Windows 10...

`forceFallback: true` seems to fix the problem.

[2019-07-18 09:35] kevin-j-morse commented on #1576
After reading through the issue queue some more. It seems this might be a duplicate of #1518, #1497, #1450 although it isn't happening on the Grid example. One similarity is that my MWE is also using `display: flex`

Sorry for creating another duplicate. Hopefully I can help get this bug nailed. I'd really like to remove jQuery UI from my project but I'm still stuck with their implementation of so

[2019-07-18 09:37] laukstein commented on #1447
@moeinrahimi, @owen-m1, please re-open this task. This still doesn't work, even when with `direction: ltr` and  `flex-direction: row-reverse`.

[2019-07-18 12:03] owen-m1 commented on #1576
@kevin-j-morse It must be the same issue, because I cannot reproduce it in the JSBin. I have the exact same OS and Chrome version as you. Both Saucelabs and Browserstack do not show the bug in Chrome 75 with Windows 10.
What is the the device you are testing this on?

[2019-07-18 13:31] Pixney-William opened #1578 "How do i keep track of what group an item was dragged from/intro"
#### Problem:

I am dragging an item from one group and dropping it into another. I need to know from what group the item came and what group it's going into.

Is there a supported way, our should i solve it by adding data attributes to my items and check/update them on drag/drop using evt.to and evt.from?

[2019-07-18 13:34] Pixney-William commented on #1578
Never mind! I rubberducked myself!

[2019-07-18 13:34] #1578 closed

[2019-07-18 13:54] Pixney-William commented on #1578
Thought i would just mention for anyone maybe looking for the answer is that i use the add and remove event.

[2019-07-18 15:18] jmariller opened #1579 "pull property in group option does not work as expected?"
#### Problem:
When setting the `pull` property to false in the group option of a sortable element, I expect not to be able to start dragging that element (e.g. when dragging from one list into a drop area, I do not want the drop area to be "draggable" by the users)

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/tuwoyixuwa/edit?html,js,output (try to move around the drop zone)

[2019-07-18 17:51] kevin-j-morse commented on #1576
I'm seeing this on the desktop that I built at home.

I will try the jsbin on my work computer although that's also Chrome and
Windows 10.

Maybe it has something to do with hardware acceleration (this computer has
an Nvidia GPU?) Or my other thought is that it could be a Chrome extension
messing things up? I'm running LastPass and Adblock as well as a few
different developer tools.

On Thu., Jul.

[2019-07-18 21:10] andreiglingeanu commented on #1447
Actually, this problem can be observed even with `justify-content: flex-end;`. The draggable container won't be receiving childs properly (probably because of this `isLastEl` checks, as far as I've inspected).

https://github.com/SortableJS/Sortable/blob/705fb322b75a760048103e3bd2cc5527231d2173/src/Sortable.js#L1134

A proper fix for this would be to check that the container has free space **on th

[2019-07-18 21:38] owen-m1 commented on #1579
1. You need to use the latest Sortable to be able to be able to even move the items to the container in your JSBin
 2. The group options determine whether an item from a list may be dragged into another list, not whether or not that item is draggable. You will have to set the option `filter: '*'` to disable dragging altogether for that list.

[2019-07-18 22:51] kevin-j-morse commented on #1576
Okay also seeing this on my machine at work. This one is running Chrome Version 75.0.3770.142 and has an AMD GPU. Completely different type of computer. Seeing the same behaviour.

However, my colleague sitting next to me did not see the same thing. Running the exact same Chrome version...

[2019-07-18 22:54] kevin-j-morse commented on #1576
Tried running Chrome in Guest mode which should disable all extensions and still seeing the same behaviour.

[2019-07-18 22:55] kevin-j-morse commented on #1576
I will try downgrading versions tonight.

[2019-07-19 00:48] andrewcourtice opened #1580 "AutoScroll plugin ignores scroll options"
#### Problem:
The autoscroll plugin appears to ignore the scroll options provided in the Sortable constructor and use the defaults.

#### JSBin/JSFiddle demonstrating the problem:
https://jsfiddle.net/s50fq8po/1/

Note the provided `scrollSensitivity` (128px) compared to the options (30px) at the breakpoint in the screenshot shown below:

<img width="838" alt="Screen Shot 2019-07-19 at 10 37 10 am

[2019-07-19 01:38] owen-m1 commented on #1580
Thanks for pointing this out, it should be solved in a8836d5699c80c298ceca18e8791d2afeb5bc340.

[2019-07-19 02:05] andrewcourtice commented on #1580
That's great! Thanks for looking into it so quickly.

[2019-07-19 02:44] bigbossjuan commented on #1577
I opened your example website in ie11 (https://sortablejs.github.io/Sortable/) and dragged it without any action. When I used dragging in the Vue project, it opened new pages directly. I tried that Vue.Draggable would also open new pages in ie11. You can see your example in ie11

[2019-07-19 02:47] bigbossjuan commented on #1577
Ie11 and ie10 can't work, but IE9 can

[2019-07-19 02:52] bigbossjuan commented on #1577
Drag to open a new page search

[2019-07-19 06:11] jmariller commented on #1579
Thank you so much for your quick answer @owen-m1, really appreciated! And you are right about the first point, I copied the JSBin from somewhere else and focused only on the drop zone...

Anyhow the option `filter: '*'` works indeed, this is perfect. Thanks!

[2019-07-19 06:11] #1579 closed

[2019-07-19 06:52] kevin-j-morse commented on #1576
This bug seems to exist at least as far back as 1.6.0

I tried 1.5.1 but it didn't work at all so there was likely some sort of syntax change at that point. I have now started looking into chrome://flags to see if there is some sort of a flag I can toggle that can prevent this bug.

[2019-07-19 07:42] kevin-j-morse commented on #1576
I went to chrome://flags and tried toggling dozens of settings with no effect.

Attached is the output of chrome://gpu on three machines I have access to right now.

The nvidia desktop and intel laptop are displaying this issue. The intel server is not.

[chrome gpu intel laptop.txt](https://github.com/SortableJS/Sortable/files/3409967/chrome.gpu.intel.laptop.txt)
[chrome gpu nvidia desktop.txt](h

[2019-07-19 12:41] owen-m1 commented on #1577
@bigbossjuan It does work in IE11 but I had not updated the website to use the latest version. I have updated it now so https://sortablejs.github.io/Sortable/ should be working on IE11/IE10. Does this resolve your issue?

[2019-07-19 14:28] courtneynguyen commented on #1268
@owen-m1 I am trying to change the opacity of the element being dragged and I am using `forceFallback: true` but it won't change? Do you know why this is?

[2019-07-19 14:29] owen-m1 commented on #1268
@courtneynguyen Please make a JSBin showing the issue and I can look into it

[2019-07-19 14:29] courtneynguyen commented on #1268
I just edited my post with a jsbin

[2019-07-19 15:13] courtneynguyen commented on #1268
@owen-m1 the jsbin before wasn't working. I updated the link to the one that does work: https://jsbin.com/jogepozale/1/edit?html,css,js,console,output

[2019-07-19 18:28] owen-m1 commented on #1268
@courtneynguyen Update to the latest Sortable (1.10.0-rc3) and use the `onStart` method to set the opacity in `Sortable.ghost`.

JSBin: https://jsbin.com/tilagavugo/1/edit?css,js,output

[2019-07-19 22:03] #1575 closed

[2019-07-19 22:22] #1566 closed

[2019-07-19 22:22] #1554 closed

[2019-07-19 22:23] #1580 closed

[2019-07-20 15:07] Wyzix33 commented on #1566
I use ```display: grid``` you can see it here to limit rows:
https://codepen.io/wyzix33/pen/qzGJWj
or if you want to limit columns:
https://codepen.io/wyzix33/pen/rXVjjB

[2019-07-22 05:08] bigbossjuan commented on #1577
I'm glad to see your reply. I just saw that it works in ie11 and ie10, but it doesn't work in compatible mode with qqq browser or 360 browser. Do you know why?

[2019-07-22 20:39] courtneynguyen commented on #1268
@owen-m1 I'm not seeing a live example of your suggestion with the JSBin link. I see my old code. I would appreciate a live example. Thank you for your help on this! Also what was causing the opacity to be transparent?

[2019-07-22 21:17] owen-m1 commented on #1268
@courtneynguyen Sorry, it must have not saved.
This one should work: https://jsbin.com/xovadop/1/edit?css,js,output

Sortable is setting the opacity [here](https://github.com/SortableJS/Sortable/blob/master/src/Sortable.js#L864).

[2019-07-23 10:05] 1123612483 opened #1582 "Doesn't work smart scrolling and fixed elements"
#### Problem:

![demo](https://user-images.githubusercontent.com/20741541/61703364-fc76d000-ad73-11e9-953d-10e251cba510.gif)
Scroll up will not work. One way is to change the fixed to absolute, but I don't like that.Are there any other solutions?
#### JSBin/JSFiddle demonstrating the problem:

link:https://jsbin.com/nejevor/edit?html,css,js,output
---
Before you create an issue, check it:

 1. Try

[2019-07-23 12:19] owen-m1 commented on #1582
@1123612483 You are using native browser drag & drop because `forceFallback` is not set to `true` in the options. You will have to set `forceFallback: true` and then set the `scrollSensitivity` option. But you must use 1.9.0 because this option is broken in the 1.10.0-rc versions.

[2019-07-23 14:42] DenitsaGencheva opened #1583 "Firefox warning MouseEvent.mozPressure is deprecated"
#### Problem:
After updating from v1.7.0 to 1.9.0 I noticed that in Firefox console there is a warning message:

My browser version is: 68.0.1

Would you fix this in the new version (1.10)?

[2019-07-23 23:14] Gruski opened #1584 "Drag/Drop is not working properly in Firefox (68)"
In Firefox only, when dropping from a drag onto an acceptable drop zone, the url changes to "about:blank" and browser says this:

Hmm. That address doesn’t look right.
Please check that the URL is correct and try again.

Happens intermittently. Maybe once every 25 drags or so. I think, but am not sure, it does it more when you drag quickly.

[2019-07-24 00:09] owen-m1 commented on #1584
Do you have any browser extensions? If so which ones?

[2019-07-24 01:15] owen-m1 commented on #1577
@bigbossjuan Sortable does not officially support these browsers and I have not tested in them. Is there any console error message from Sortable?

[2019-07-24 01:17] owen-m1 commented on #1576
@kevin-j-morse Any update on your end? I haven't had time to look really in depth into this but based on the information you have provided I still have no idea the cause or how I could reproduce it.

[2019-07-24 01:47] 1123612483 commented on #1582
Thx! luckily i use 1.9.0 version. this issue has been resolved. How can I solve this issue if I use 1.10.0-rc  version?

[2019-07-24 01:47] 1123612483 commented on #1582
@owen-m1 Thx! luckily i use 1.9.0 version. this issue has been resolved. How can I solve this issue if I use 1.10.0-rc version?

[2019-07-24 02:27] Gruski commented on #1584
I have zero extensions. It will do this on a fresh Firefox install with whatever defaults it comes with.

[2019-07-24 02:45] owen-m1 commented on #1582
It is solved on the github but not released yet. When 1.10.0-rc4 is released or 1.10.0 is fully released then the issue will be resolved.

[2019-07-24 02:58] owen-m1 commented on #1584
Ok, please create a JSBin that shows the issue in firefox and I will look into it

[2019-07-24 03:49] Gruski commented on #1584
Only happens when you bind sortable on the <tbody> of a <table> to sort the <tr> items contained in <tbody>. Are there any known issues with this. I switched away from using a <table> and problem went away.

[2019-07-24 04:36] #1582 closed

[2019-07-24 04:38] 1123612483 commented on #1582
@owen-m1 ok

[2019-07-24 07:50] mikila85 commented on #264
+1

[2019-07-25 01:24] bigbossjuan commented on #1577
There is no error message in the console, as if Sortable didn't work at all. Drag and drop directly to open a new page for search

[2019-07-25 08:28] sfx478076717 opened #1585 "如何对循环的数组进行排序（How to sort circular arrays）"
#### Problem:
Drag sorting is only HTML tag sorting, and does not sort the list set (array) of loops. How do I need to sort arrays at the same time?
拖动排序只是html标签排序，并没有对循环的list集合(数组)进行排序，请问我需要怎么样才能对数组进行同时排序。

#### JSBin/JSFiddle demonstrating the problem:

---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-branch, perhaps the problem has

[2019-07-25 22:01] courtneynguyen commented on #1571
I can reproduce. Here is a gif showing the problem. Not sure why it would work the first time but not the second.

http://g.recordit.co/3AruBClaZ3.gif

[2019-07-26 16:16] Mach12 opened #1586 "Error in console while using grouped lists (with one set to clone and the other not to)"
#### Problem:

- Have two lists in the same group
- One has no special config beyond the group name, one is set to clone on pull
- Pull from the cloning list, hover the item over the non-cloning list then back to the cloning list
- An error appears in the console: `Cannot read property 'insertBefore' of null`

That can't be right, can it?

#### JSBin/JSFiddle demonstrating the problem:

Is CodePen

[2019-07-26 16:34] owen-m1 commented on #1583
Sortable doesn't use `mozPressure` anywhere in the code. Could you create a JSBin that will show this warning in FireFox?

[2019-07-29 12:53] wangbo201308 commented on #1067
@bs-thomas I also accountered the same question as yours, thanks for your answer!

[2019-07-29 20:16] typeoneerror commented on #1584
I found my issue was having a .drag-handle inside an `<a>`. I'm not sure `sortFilter` property is working correctly in Firefox.

[2019-07-30 07:55] frndmr opened #1587 "How can i use with nuxt?"
I want use the sortablejs in my nuxt.js project. I tried the import that module in my component. And error "navigator is undefined". How can i use sortablejs in a nuxt project?

[2019-07-30 08:18] codingnuclei opened #1588 "onSort not fired for same index swap between lists"
#### Problem:

Using swap does not fire onSort event when swapping from one list to another where the element is at the same index.

ie
in the below jsbin,
open the console,
swap item5 from list 1 with item 5 in list 2.
Observe no console message.
Swap with another index and observe console message

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/qidayofizu/edit?html,js,output

--

[2019-07-30 09:39] philippkuehn opened #1589 "Multidrag: missing index in deselect event"
Hi,

unfortunately in the deselect event there is no information about the deselected index.

[2019-07-30 14:31] frndmr commented on #1587
I found a solution for this problem. It is not best practice but it works.

nuxt.config.js
[code]

Component file you're using sortable
[code]

[2019-07-30 14:31] #1587 closed

[2019-07-30 17:22] owen-m1 commented on #1490
@plindelauf @smg99 It should be solved in commit 1fed4eeb97c097bb0aa05bb65a52d833a53065b7 as well as some animation issues.

[2019-07-30 17:22] owen-m1 commented on #1588
@codingnuclei This should be solved in commit 1fed4eeb97c097bb0aa05bb65a52d833a53065b7.

[2019-07-30 17:22] #1588 closed

[2019-07-30 22:59] owen-m1 commented on #1586
I don't know what has caused this, but I does seem to be fixed in the latest version 1.10.0-rc3.

[2019-07-30 23:48] owen-m1 commented on #1586
I figured out why it happened, and yes it is fixed in 1.10.0-rc3

[2019-07-30 23:48] #1586 closed

[2019-07-31 00:11] owen-m1 commented on #1585
This is what JS frameworks are for. Try using VueJS with [VueDraggable](https://github.com/SortableJS/Vue.Draggable).

[2019-07-31 00:11] #1585 closed

[2019-07-31 00:17] owen-m1 commented on #1584
@Gruski I cannot determine the issue without a JSBin that has the problem reproducible.

[2019-07-31 01:56] owen-m1 commented on #1589
@philippkuehn Thanks for pointing this out. For now:
[code]

[2019-07-31 08:37] xPaw opened #1590 "Create a LICENSE file"
This library is already licensed with the MIT license, but a LICENSE file is missing. Adding this file would make github (https://help.github.com/en/articles/licensing-a-repository#detecting-a-license) and various license checkers detect the license correctly.

[2019-07-31 10:16] philippkuehn opened #1591 "Multidrag: support for custom select handle"
Currently you have to click an item to select it. In my case it would like to have a checkbox to select an item. There is already `Sortable.utils.select()` to select an item programmatically but then it would be nice to disable the default click event handler.

[2019-07-31 11:54] philippkuehn commented on #1589
Ah, thank you!

[2019-07-31 21:03] owen-m1 commented on #1591
@philippkuehn Would you want it also so that it would not all be deselected if the user clicks somewhere else on the page? If so, I think it might be best to allow for a `disableSelection` option so that you can implement this yourself with events.

[2019-07-31 21:18] owen-m1 commented on #1590
Done in 211b030000c32721ec6034414d5cd8b47025374f 👍

[2019-07-31 21:18] #1590 closed

[2019-07-31 22:13] Gruski commented on #1584
No longer using a tables and with normal divs the problem is gone. When I will need the sort for a table I will tackle it then. I'll close for now.

[2019-07-31 22:13] #1584 closed

[2019-08-01 02:54] courtneynguyen commented on #1268
Why is Sortable setting the opacity? Curious if it is styling should be enforced with Sortable?

[2019-08-01 05:32] SunHuawei commented on #1591
The same requirement to me. I have several cards and I need click the checkbox to select. Like this
![image](https://user-images.githubusercontent.com/11191857/62267926-89024c00-b460-11e9-8eed-72a7cf413035.png)

[2019-08-01 08:29] freshowlsi opened #1592 "Add class to item under the dragged item"
Is there an option similar to jQuery Droppable [`hoverClass`](https://api.jqueryui.com/droppable/#option-hoverClass) option?

For example: [https://jsfiddle.net/hg93od8s/](https://jsfiddle.net/hg93od8s/)

Drag the first/grey box over the other boxes. As you can see, there is a red border that appears to whichever element the dragged item is over. Anything like that?

[2019-08-01 08:38] philippkuehn commented on #1591
@owen-m1 Yes, I think that would be nice.

[2019-08-01 13:35] courtneynguyen opened #1593 "Dynamic scroll at bottom of page creates gap between drag element and mouse"
#### Problem:
Have a list of draggable things that creates a scroll bar. Draggable items height is dynamic because items collapse when dragged. Scroll to bottom of list. Click on item to expand it. Scroll to bottom. Drag.

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/zaqupacego/1/edit?js,output

---
Before you create an issue, check it:

 1. Try [master](https://github.com/Sort

[2019-08-01 13:36] courtneynguyen commented on #1593
http://g.recordit.co/OmjoUsCebp.gif

[2019-08-01 13:49] msh-odoo opened #1594 "scrollFn not called"
#### Problem:

I have passed scrollFn in Sortable options but when I drag element at end of the screen in mobile(mobile edge) it doesn't call scrollFn, I traced bit and I found the AutoScroll plugin doesn't update options provided by Sortable and scrollFn remains undefined always.

Note that I don't have scrollable element in mobile so I want to add scrollFn where I will have my own stuff, when ca

[2019-08-01 18:08] freshowlsi commented on #1592
It worked with this: https://github.com/SortableJS/Sortable/issues/1117

[2019-08-01 18:08] #1592 closed

[2019-08-03 00:31] owen-m1 commented on #1268
@courtneynguyen It probably shouldn't be setting the styling but that's the way it was when I took over the project... haven't removed it (yet). Maybe there will be an option for it.

[2019-08-03 06:32] kevin-j-morse commented on #1576
@owen-m1 I am struggling to find any distinguishing factor between all the devices where this bug happens and all the devices where it does not happen. I can confirm it is happening on all my personal devices (only similarity would be they are both running Windows 10, some have GPU some do not) and then some of the devices at my work (none of the Windows Server but some of the desktops).

Is there

[2019-08-03 06:53] kevin-j-morse commented on #1576
I created an issue on the Chromium bug tracker. Hopefully we get lucky and a Chromium developer experiences the same issue.

https://bugs.chromium.org/p/chromium/issues/detail?id=990572

[2019-08-03 19:18] owen-m1 commented on #1576
@kevin-j-morse If I could remote into it that would be very helpful. But it might take me up to a few hours to figure out the exact issue so if there was a device you could reserve for me to test that would be the easiest for me... are you using this library at your work or for a personal project?

[2019-08-05 04:38] courtneynguyen commented on #1593
JSbin wasn't working again, here https://jsbin.com/venasuj/1/edit?css,js,output

[2019-08-05 04:45] kevin-j-morse commented on #1576
I am using it for a personal project. I just happen to have a lot of PC at work that I could use for testing.

A Chrome dev has seen the bug already so perhaps they will be able to reproduce it. If they can't I will try and go about setting up a way for you to access one of my PCs.

[2019-08-05 21:27] owen-m1 commented on #1593
New JSBin doesn't work either :/

[2019-08-06 00:41] owen-m1 commented on #1594
This is fixed on the master branch, but I have not released the fix yet

[2019-08-06 05:16] msh-odoo commented on #1594
@owen-m1 Can you give reference of the commit so I can check the diff and apply it in my local code temporary

[2019-08-06 07:46] kevin-j-morse commented on #1518
@sattes-faction I have opened an issue in the Chrome bug tracker.

If you have any relevant information to help them track this down I would greatly appreciate it. At the very least, if you could comment that you are also experiencing the issue (assuming you are)

https://bugs.chromium.org/p/chromium/issues/detail?id=990572

[2019-08-06 07:47] kevin-j-morse commented on #1497
@L-doubleJ I have opened an issue in the Chrome bug tracker.

If you are still experiencing this issue could you post there? I believe this is a Chrome bug

https://bugs.chromium.org/p/chromium/issues/detail?id=990572

[2019-08-06 08:25] cooperfrench95 opened #1596 "Vue-draggable not working on firefox"
#### Problem:

We are using vue-draggable, the vue wrapper for this library which appears to be unmaintained.

The issue seems to be that the dragging is broken on firefox. `draggable` components work as expected, but we have a functional component with listeners attached that is not functioning correctly. The drag event is fired, but dragging does not take place - the drag event simply gets fired

[2019-08-06 11:44] kinesias opened #1597 "Typo in the docs: multiDrag: false should be multiDrag:true"
in the docs, there's the line:
[code]

Isn't the plugin enabled with multiDrag: true ?

[2019-08-06 12:16] owen-m1 commented on #1597
It is showing the default value for the option, because it is disabled by default. The comment indicates that the option is for enabling the plugin. I will keep this open because maybe I should change it,

[2019-08-06 15:36] AndrewDavis commented on #1561
Yay, an isolated code sample... Your guys' ["documentation"](http://sortablejs.github.io/Sortable/#nested) on nesting is severely lacking...

[2019-08-06 16:04] kinesias opened #1598 "multiDrag key must by down also when pressing shiftKey"
Currently, if you want to select a range of elements and have a custom multiDrag key enabled (like the 'meta' key for Apple users), you must press BOTH the custom dragKey AND the shift key to select a custom range of elements.

This is rather uncommon for Apple users. Eg in the Finder, you simply press SHIFT to select a range of elements, and you simply hold the CMD (=meta) key if you want to sele

[2019-08-06 22:04] owen-m1 commented on #1598
Good point. I will put this on the todo list.

[2019-08-07 08:54] jjzjx118 commented on #246
can you give a example , I have no idea where to put those  codes

[2019-08-07 09:01] jjzjx118 commented on #246
@Esger , hi can you give a example ? how to control the cursor when start drag and draging?

[2019-08-07 09:21] kevin-j-morse commented on #1576
@owen-m1 I think I have figured out how to get the bug to appear and disappear on my PC!

Changing the Windows scaling to something other than 100% makes it happen. Going back to 100% and it goes away.

![windows scaling](https://user-images.githubusercontent.com/4412177/62611226-06dbb280-b8ba-11e9-8a1f-d4b85238c78a.PNG)

[2019-08-07 14:16] kevinvanmierlo opened #1599 "Support for other transform properties (like rotation)"
#### Problem:
Because Sortable.js uses `transform: translate(0, 0)` to position the hovering item, you can't use any other transform like rotation. I wanted to use rotation to slightly rotate the hovering item, to show the user they picked up an item. Similar to how Trello does it.

#### JSBin/JSFiddle demonstrating the problem:
https://jsbin.com/bakakaroyu/edit?html,css,js,output

In the JSBin I

[2019-08-07 19:20] courtneynguyen commented on #1593
Could you try on Chrome? I'm not sure why FF isn't working.

[2019-08-08 14:21] sattes-faction commented on #1518
@kevin-j-morse ok I posted a comment there with the youtube link from the first post. Hope it helps. I did no further investigation since then...

[2019-08-08 18:03] kevin-j-morse commented on #1576
@owen-m1 it would be great if you could comment on the chromium issue right
now. One developer thought it was a problem, another disagrees.

On Sat., Aug. 3, 2019, 12:18 owen-m1, <notifications@github.com> wrote:

[2019-08-08 18:29] owen-m1 commented on #1576
I commented

[2019-08-08 23:02] Guustaaf opened #1600 "Drag only in vertical direction"
#### Problem:
I am using a single stack of sortable text input fields that only need to be sorted vertically. Trying to select text by dragging horizontally starts dragging an item. Is there a way to disable horizontal dragging? Thanks!

#### JSBin/JSFiddle demonstrating the problem:

---
Before you create an issue, check it:

 1. Try [master](https://github.com/SortableJS/Sortable/tree/master/)-b